<h2 class="title-nbs title-items-list">会員脱会</h2>
<!--ERRORMSG-->
<div class="box-content">
  会員脱会を希望される方は、確認のためメールアドレスとパスワードを入力後、
  <span class="bold">会員脱会する</span>を押して下さい。
</div>

<div class="box-content">
	<form action="<!--PHP_SELF-->" method="post" class="login-table"/>
    <input type="hidden" name="mode" value="dakai" />
    <input type="hidden" name="action" value="check" />
		<div class="login-content box-form">
			<div class="box-grid box-outline">
				<div class="box-row">
					<h4 class="item-name">メールアドレス</h4>
					<div class="input-section">
						<input type="email" name="email" value="<!--EMAIL-->" /> 
					</div>
				</div>
				<div class="box-row">
					<h4 class="item-name">パスワード</h4>
					<div class="input-section">
						<input type="password" maxlength="8" name="pass" />
					</div>
				</div>
			</div>
			<div class="button_gui increase-space">
				<input type="submit" class="btn-standard" value="会員脱会する"
        OnClick="return confirm('会員脱会の手続きをさせていただきますが\nよろしいですか？')"/>
			</div>
		</div>
	</form>
</div>
