<div id="footer">

	<div id="footer-shopping" class="box-outline">
		<h4 class="box-title">お買い物インフォメーション</h4>
		<ul class="footer-grid">
			<li><a href="/1-7/#product_notes">取扱商品について</a></li>
			<li><a href="/1-7/#payment">お支払い方法</a></li>
			<li><a href="/1-7/#shipping">お届けについて</a></li>
			<li><a href="/1-7/#shipping_fee">送料・手数料について</a></li>
			<li><a href="/1-7/#about_return">返品・交換について</a></li>
			<li><a href="/1-7/#corporate_info">ショップ案内</a></li>
		</ul>
	</div>

	<div id="footer-link" class="box-outline">
		<h4 class="box-title">特別総合リンク</h4>
		<div class="footer-grid">
			<div id="footer-link10">
				<p><a href="https://ozzys.jp/" target="_blank"
						title="ルアー＆フライフィッシング オンラインショップ オジーズ">ルアー＆フライフィッシング<br>オンラインショップ オジーズ</a></p>
			</div>
			<!--footer-link10-->
			<div id="footer-link20">
				<p><a href="https://uranairanking.jp/" target="_blank" title="日の運勢 12星座占いランキング">今日の運勢<br>12星座占いランキング</a>
				</p>
				<!--
				<p><a href="http://www.seotools.jp/" target="_blank" title="SEOアクセス解析ツール">SEOアクセス解析ツール</a></p>
				-->
			</div>
			<!--footer-link20-->
			<div id="footer-link30">
				<p><a href="https://www.azet.jp/" target="_blank" title="eラーニングシステム制作 有限会社アゼット">eラーニングシステム制作 <br>有限会社アゼット</a>
				</p>
			</div>
			<!--footer-link30-->
		</div>
	</div>
	<!--footer-link-->

	<div id="footer-copy">
		<span>copyright(c)2008 ZEROHOUR CO.LTD AllRights Reserved.</span>
	</div>
</div>
<!--footer-->

<script type="text/javascript">
	// alert(window.document.location.hostname); // DBG
	if(window.document.location.hostname==="futboljersey.com") {
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

		var pageTracker = _gat._getTracker("UA-573797-1");
		pageTracker._trackPageview();
	}
</script>
