<h2 class="title-nbs">商品発送状況</h2>
	<form action="<!--PHP_SELF-->" method="POST">
		<!--ERROR-->
		<div id="kakunin-form">
			<p>ご注文された商品の発送、入荷予定日情報をご覧になりたい場合は、 ご注文時に入力されたメールアドレスと返信メールに記載されているご注文番号を入力し確認ボタンを押して下さい。</p>
			<section class="login-content box-form">
				<div class="box-grid box-outline">
					<div class="box-row">
						<h4 class="item-name">メールアドレス</h4>
						<div class="input-section">
							<input size="40" type="text" name="email" value="<!--EMAIL-->" id="reset_email" />
						</div>
					</div>
					<div class="box-row">
						<h4 class="item-name">ご注文番号</h4>
						<div class="input-section">
							<input size="40" type="text" maxlength="16" name="sells_num" value="<!--SELLSNUM-->" id="reset_sells_num" />
						</div>
					</div>
				</div>
			</section>
			<div class="button_gui">
				<input type="hidden" name="mode" value="syo"/>
				<input type="submit" class="btn-standard btn-login" value="確認" />
				<input type="button" class="btn-standard" value="リセット" OnClick="form_reset(); return false;"/>
			</div>
		</div>
	</form>
	
