<h2 class="title-nbs">ネイバーズスポーツ アフィリエイト</h2>
<section class="box-outline">
	<h3 class="box-title box-title-big">ネイバーズスポーツアフィリエイトとは？</h3>
	<div class="box-content">
		ネイバーズスポーツ（当サイト：<span class="important">https://www.futboljersey.com/</span>)で販売している商品を選びあなたのサイトやメルマガなどで紹介して下さい。
		あなたの紹介から商品が購入されますと、商品代金の<!--PERCENT-->%のアフィリエイトポイントを差し上げます。アフィリエイトポイントは、割引ポイントや、口座にお振り込みさせて頂きます。
	</div>
</section>

<section class="box-outline">
	<h3 class="box-title box-title-big">まずは登録！</h3>
	<div class="box-content">
		以下にある「アフィリエイトに参加する」ボタンを押し、規約を読み承諾して頂ければご登録は完了です。<br />
		各ページに下方に、あなた専用のアフィリエイトURLが表示されますので、あなたのサイトやメルマガなどに張って頂ければ開始です。<br />
	</div>
</section>
<div class="button_gui">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="regist">
		<input type="submit" class="btn-standard center" value="アフィリエイトに参加する">
	</form>
</div>
<br />
<p class="kiyaku"><a href="<!--PHP_SELF-->?mode=kiyaku">アフィリエイト規約</a>
