<h2 class="title-nbs">ポイント詳細<!--SORT-->ポイント獲得履歴</h2>

<!--PTRANSITIONS-->
<div class="aff-transition">
	<div class="ptransitions">
		<!--FIRST-->
	</div>
	<div class="ptransitions">
		ポイント獲得履歴　<!--YEAR--><!--DATE-->
	</div>
	<div class="ptransitions">
			<!--NEXT-->
	</div>
</div>
<!--/PTRANSITIONS-->

<form action="<!--PHP_SELF-->" method="POST" class="aff-point-form">
	<!--YEARHIDDEN-->
	<input type="hidden" name="mode" value="p_check">
	<input type="hidden" name="action" value="mon">
	<!--/YEARHIDDEN-->
	<!--MONHIDDEN-->
	<input type="hidden" name="mode" value="p_check">
	<input type="hidden" name="action" value="day">
	<input type="hidden" name="year" value="<!--YEAR-->">
	<!--/MONHIDDEN-->
	<div class="box-outline box-grid">
		<div class="list-table-pc box-row">
			<div class="item-name"><!--THDATE--></div>
			<div class="item-name">クリック数</div>
			<div class="item-name">売上件数</div>
			<div class="item-name">予定ポイント</div>
			<div class="item-name">確定ポイント</div>
			<div class="item-name">変換ポイント</div>
		</div>
		<!--POINTLIST-->
		<div class="box-row aff-total-list">
			<div class="item-name">合計</div>
			<div class="item-name aff-point-content" data-label="クリック数"><!--ACLICK-->件</div>
			<div class="item-name aff-point-content" data-label="売上件数"><!--ACOUNT-->件</div>
			<div class="item-name aff-point-content" data-label="予定ポイント"><!--AINDENTPOINT-->pt</div>
			<div class="item-name aff-point-content" data-label="確定ポイント"><!--APOINT-->pt</div>
			<div class="item-name aff-point-content" data-label="変換ポイント"><!--APAYPOINT-->pt</div>
		</div>
	</div>	
</form>
<p><span class="red">※表示されている確定ポイントは、今現在残っている確定ポイントではありません。</span></p>
<!--PBACK-->
<!--YBACK-->
<div class="btn-edit">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="mon">
		<input type="hidden" name="year" value="<!--YEAR-->">
		<input type="submit" class="btn-standard" value="<!--YEAR-->年の月一覧に戻る">
	</form>
</div>
<!--/YBACK-->
<div class="btn-edit">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="year">
		<input type="submit" class="btn-standard" value="年一覧に戻る">
	</form>
</div>
<!--/PBACK-->
<div class="btn-edit">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="submit" class="btn-standard" value="アフィリエイトTOPに戻る">
	</form>
</div>