<h2 class="title-nbs">ポイント獲得履歴</h2>

<!--ERRORMSG-->
<section class="aff-point-form">
<form action="<!--PHP_SELF-->" method="POST">
	<input type="hidden" name="mode" value="p_update">
	<input type="hidden" name="action" value="p_update_change">
		<p class="increase-space"> 変換手続きが完了していない申請を変更する場合は、手続きをする申請番号をクリックして下さい。<br />
		<span class="important">※</span><!--CHENGETYPE2L-->の場合での、変換金額は、振込手数料を差し引いた金額になります。</p>
		<div class="box-outline box-grid">
			<div class="list-table-pc box-row">
				<div class="item-name">申請番号</div>
				<div class="item-name">申請日</div>
				<div class="item-name">変換種類</div>
				<div class="item-name">変換申請<br>ポイント</div>
				<div class="item-name">変換ポイント・<br>金額</div>
				<div class="item-name">状態・変換日</div>
			</div>
			<!--AFPLIST-->
		</div>
</form>
</section>
<form action="<!--PHP_SELF-->" method="POST" class="btn-edit">
	<input type="submit" class="btn-standard center" value="アフィリエイトTOPに戻る">
</form>

