<!--#include virtual="/include_file.php?inc=logincheck"-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      会員登録変更 サッカースパイク サッカーユニフォーム サッカーショップ
      ネイバーズスポーツ
    </title>
    <meta
      name="Description"
      content="メーカーリンク,セリエA,プレミアリーグ,スペインリーグ,各国代表等のチームユニフォームを販売。"
    />
    <meta
      name="KeyWords"
      content="メーカーリンク,サッカー,サッカーショップ,サッカーユニフォーム,サッカーシューズ,サッカースパイク,ナイキ,アンブロ,アディダス,プーマ,パトリック,トッパー,ネイバーズスポーツ"
    />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css?202302151300" />
    <link rel="stylesheet" type="text/css" href="/css/lightbox.css?202302151300" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css?202302151300" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <!--jQuery読み込み-->
    <script src="/js/jquery3.6.1.min.js"></script>
    <script src="/js/responsive.js"></script>
    <script src="/JavaScript/common.js"></script>
    <!--サムネイル-->
    <script src="/JavaScript/viewer.js"></script>
    <script src="/JavaScript/lightbox-2.6_custom.min.js"></script>
    <link rev="made" href="mailto:query@futboljersey.com" />
  </head>
  <body>
    <!--#include virtual="/include_file.php?inc=head"-->
    <div id="container">
      <!--#include virtual="/include_file.php?inc=navi"-->

      <div id="right">
        <h4 class="success-alert text-center">
          登録内容の変更が完了しました。
        </h4>
        <section class="box-outline">
          <div class="box-content paragraph-spaced">
            <p>確認のメールをお送りさせていただきましたのでご確認下さい。</p>
            <p>
              もし内容に間違いがございましたら、再度会員登録変更ページより変更を行ってください。
            </p>
            <p>
              もしメールが届かない場合は、登録時のメールアドレスが間違っている可能性があります。
            </p>
          </div>
        </section>
        <!--inner-->

        <!--#include virtual="/include_file.php?inc=ossm"-->
      </div>
      <!--right-->

      <!--#include virtual="/include_file.php?inc=foot"-->
    </div>
    <!--container-->
  </body>
</html>
