<!--#include virtual="/include_file.php?inc=logincheck"-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>お見積りメール送信完了 サッカースパイク サッカーユニフォーム サッカーショップ ネイバーズスポーツ</title>
	<meta name="Description" content="メーカーリンク,セリエA,プレミアリーグ,スペインリーグ,各国代表等のチームユニフォームを販売。">
	<meta name="KeyWords"
		content="メーカーリンク,サッカー,サッカーショップ,サッカーユニフォーム,サッカーシューズ,サッカースパイク,ナイキ,アンブロ,アディダス,プーマ,パトリック,トッパー,ネイバーズスポーツ">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<link rel="stylesheet" type="text/css" href="/css/style.css?202302151300" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css?202302151300">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<script src="/js/jquery3.6.1.min.js"></script>
	<script src="/js/responsive.js"></script>
	<link rev="made" href="mailto:query@futboljersey.com">
</head>

<body>
	<!--#include virtual="/include_file.php?inc=head"-->
	<div id="container">
		<!--#include virtual="/include_file.php?inc=navi"-->


		<div id="right">

			<div id="inner">

				<h4 class="success-alert text-center">御見積依頼ありがとうございます。</h4>
				<div class="box-outline">
					<div class="box-content text-spacing">
						<p>
							<span>御見積依頼ありがとうございます。</span><br>
							<span>後日御見積金額をご連絡させていただきます。</span><br>
							<span>入力していただいたデーターの確認のメールを、ご連絡先情報で入力して頂いたメールアドレスにお送りしましたのでご確認下さい。</span><br>
							<span>もし届かない場合や、内容に間違い、変更などがございましたら、お手数ですがご連絡下さい。</span>
						</p>
					</div>
				</div>

			</div><!--inner-->

			<!--#include virtual="/include_file.php?inc=ossm"-->

		</div><!--right-->

		<!--#include virtual="/include_file.php?inc=foot"-->

	</div><!--container-->
</body>

</html>