uranai_lib/bat/log/*
uranai_lib/bat/data_save/*
uranai_lib/bat/tests/*
uranai_lib/bat/tmp/*
uranai_lib/bat/tmpg/*
uranai_lib/libadmin/vendor/*
uranai_lib/libadmin/service-account-credentials.json
uranai_lib/data/sougo_link_list.dat
mailoutput
.sass-cache
uranai_lib/libadmin/server.php
.htaccess
uranai_lib/log

www/robots.txt

templates_c

.sass-cache

nbproject

/tags
/uranai_lib/data/sougo_link_list.dat

/index_topic_test.ps1

# Docker
/.viminfo*
/.bash_history
!.gitkeep
.docker/var/www/xdebug.log
.vscode/launch.json
