</div>
</div>
<div class="clear"><br></div>

<div id="shoppinginfo">
<h2><img src="/img/t_okaimono.gif" width="950" height="30" alt="お買い物インフォメーション"></h2>
<table width="950">
	<tr valign="top">
		<td width="33%">
		<h3>取扱商品について</h3>
		
		 <p>当店は実店舗と同一の在庫であります関係上、ご注文後に在庫切れが発生する場合がございます。<br>
誠にご迷惑をお掛け致しますが、あらかじめご了承の頂きますようお願い申し上げます。</p>
<dl>
	<dt class="shopinfotex">サイズについて</dt>
	<dd>多くの衣料品はメーカー日本法人・日本総代理店の輸入品・ライセンス商品又は自社並行輸入品の為、
	サイズはインターナショナルサイズ表記です。<br>(日本サイズ表記の商品もございます。）<br><br></dd>
	<dt class="shopinfotex">価格について</dt>
	<dd>自社並行輸入品は為替レートの関係上、価格が変動することがあります。 <br><br></dd>
	<dt class="shopinfotex">カラー等</dt>
	<dd>撮影・ディスプレイ等の関係で、実物と多少色など異なる場合もございます。<br><br></dd>
</dl>
		</td>
		<td width="33%">
		<h3>支払い方法</h3>
		<dl>
	<dt class="shopinfotex">代金引換</dt>
	<dd>佐川急便E-コレクトサービス<br>
	ヤマト運輸コレクトサービス<br>
	商品をお受け取りになる際に配達員へお支払いください。<br><br>
	</dd>

	<dt class="shopinfotex">クレジットカード払い</dt>
	<dd><a href="https://www.paypal.jp/jp/contents/start/using/" target="_blank" title="PayPal決済">PayPal決済</a>利用<br />
各種クレジットカード会社を利用可能です。<br /><br>
	</dd>

	<dt class="shopinfotex">クレジットカード払い</dt>
	<dd><a href="http://pay.jp" target="_blank" title="PAY.JP決済">PAY.JP決済</a>利用<br>
	各種クレジットカード会社を利用可能です。<br><img src="/img/card.gif" width="250" height="70" alt="利用可能カード会社">
	<br><br>
	</dd>
	<dt class="shopinfotex">銀行振込（前払い）</dt>
	<dd>入金確認後の商品発送となります。<br>
	当社にて、在庫確認後、振込先をご連絡いたします。
	メール到着後5日以内指定口座にお振込み下さい。<br>
	なお、<b>振り込み手数料はお客様負担</b>とさせて頂きます。<br>
	<hr>
	振込先1：三井住友(ミツイスミトモ)銀行　荏原(エバラ)支店<br>
	普通:1067558<br>
	口座名:ネイバーズスポーツ<br>
<br>
	振込先2：楽天(ラクテン)銀行　タンゴ支店<br>
	普通:7043165<br>
	口座名:株式会社ゼロアワー<br>
	<br>
	</dd>
	<dt class="shopinfotex">後払い決済</dt>
	<dd><a href="http://www.ato-barai.com/annai.html" target="_blank" title="後払い.com">後払い.com</a>利用<br>
	商品到着後14日以内にコンビニ/銀行/郵便局でお支払いとなります。<br>
	株式会社キャッチボール与信審査の結果によっては「後払い決済」サービスのご利用をお断りすることがございます。<br>
	後払い決済手数料とし、支払合計金額の5％を手数料としお客様負担とさせて頂きます。<br />
    但し最低手数料は250円とします。
	<br><br>
	</dd>
<!--
	<dt class="shopinfotex">コンビニ払い（前払い）</dt>
	<dd><b>お支払代金の他に別途請求書発行手数料158円かかります。</b><br>
	ご注文確認後お振り込み用紙（お支払い用紙）を、商品お送り先住所にお送りさせていただきます。<br>
	入金確認後の商品発送となります。
	</dd>
-->
</dl>
<ul>
	<li>FAX注文についてはネットコンビニでのご利用できません。</li>
	<li>見積注文についてはネットコンビニでのご利用できません。</li>
	<li>リンクについての決済についてはネットコンビニでのご利用できません。</li>
</ul>

		</td>
		<td width="33%">
		<h3>お届け日時指定</h3>
		<p>お届け日：ご注文日より1週間先までご指定いただけます。日時の指定を行うことが可能です。<br>
お届時間：以下の時間帯をご指定することができます。</p>
<p>【佐川急便】<br>
<img src="/img/deliverytime-s1.gif" width="50" height="61" alt="午前中（8時～12時）">
<img src="/img/deliverytime-s2.gif" width="51" height="60" alt="12時～14時">
<img src="/img/deliverytime-s3.gif" width="50" height="60" alt="14時～16時">
<img src="/img/deliverytime-s4.gif" width="51" height="60" alt="16時～18時">
<img src="/img/deliverytime-s5.gif" width="51" height="60" alt="18時～21時">
</p>
<p>【ヤマト運輸】<br>
<img src="/img/deliverytime-y1.gif" width="49" height="60" alt="午前中">
<img src="/img/deliverytime-y2.gif" width="49" height="60" alt="12時-14時">
<img src="/img/deliverytime-y3.gif" width="49" height="60" alt="14-16時">
<img src="/img/deliverytime-y4.gif" width="49" height="60" alt="16-18時">
<img src="/img/deliverytime-y5.gif" width="49" height="60" alt="18-20時">
<img src="/img/deliverytime-y6.gif" width="49" height="60" alt="20-21時">
</p>

		</td>
	<tr valign="top">
		<td width="33%">
		<h3>送料及び手数料</h3>
			<p>
	【ヤマト運輸・佐川急便・日本郵便・西濃運輸共通】<br>
	<b>全国一律:798円(税込）</b><br>
	<span style="color: #cc0000;font-weight:bold;">10,800円以上のご購入で送料無料となります。</span><br>
	※交換の際の着払送料は上記割引価格は適用されません。 
	</p>
	<div id="souryou">
	<table>
	<tr><td colspan="2">代引手数料：【ヤマト運輸・佐川急便共通】</td></tr>
		<tr align="right" >
			<td width="170">3,650円まで</td>
			<td width="100">648円(税込）</td>
		</tr>
		<tr align="right" >
			<td width="170">10,000円まで</td>
			<td width="100">324円(税込）</td>
		</tr>
		<tr align="right" >
			<td>10,001円以上30,000円まで</td>
			<td>432円(税込）</td>
		</tr>
		<tr align="right" >
			<td>30,001円以上100,000円まで</td>
			<td>648円(税込）</td>
		</tr>
		<tr align="right" >
			<td>100,001円以上300,000円まで</td>
			<td>1,080円(税込）</td>
		</tr>
		<tr align="right" >
			<td>300.001円以上500,000円まで</td>
			<td>2,160円(税込）</td>
		</tr>
	</table>
	</div>
		</td>
		<td width="33%">
		<h3>返品交換について</h3>
	<dl>
		<dt class="shopinfotex">返品について</dt>
		<dd>交換・返品をご希望される場合は、商品到着後10日以内に電話またはメールにて弊社までご連絡下さい。商品到着後11日以降の交換・返品には、応じかねる場合がありますのでご注意ください。<br>
送料無料対象商品をご注文時、返品された場合は弊社からの送付送料をご負担頂きます。</dd>
	<ul>
		<li>誤送・不良品→送料・手数料弊社負担</li>
		<li>お客様都合 →送料・手数料お客様ご負担</li>
	</ul>
	</dl>
<br>

	<dl>
		<dt class="shopinfotex">返品・交換の条件</dt>
		<dd>損傷、汚損、商品違い等がございましたらメールもしくは電話にて弊社までご連絡願います。</dd>
	</dl>
<br>

	<dl>
		<dt class="shopinfotex">お客様のご都合による交換、返品</dt>
		<dd>損傷・汚損などがなく再販可能な場合のみ返品・交換を受け付けます。 なお、送料はお客様のご負担となります。 商品到着後10日以内にご返送ください。（返送方法に特に指定はありません。）<br>
<font color="red">尚、ネーム・背番号等をプリントした商品のご注文後のキャンセル、変更及び返品はお受けできませんのでご了承ください。<br>
特価品及び取寄せ商品の返品もお受けできませんのでご了承ください。</font></dd>
	</dl>
<br>

	<dl>
		<dt class="shopinfotex">返品の場合の代金返却</dt>
		<dd>クレジットカード利用<br>
		クレジット会社を通して、請求金額を返金させて頂きます。<br><br>
		それ以外の購入方法の場合<br>
		指定の銀行口座に商品代金をお振込みいたします。</dd>
	</dl>
		
		</td>
		<td width="33%">
		<h3>ショップ案内</h3>
		
		<div id="cop"><dl>
			<dt>販売会社名：</dt>
			<dd>株式会社ゼロアワー</dd>
			<dt>所在地：</dt>
			<dd>〒779-3741<br>徳島県美馬市脇町字曽江名581番地</dd>
			<dt>店舗名：</dt>
			<dd>ネイバーズスポーツ<br></dd>
			<dt>営業時間：</dt>
			<dd>10:00-19:00<br>定休日:毎週水曜日</dd>
			<dt>店舗所在地：</dt>
			<dd>〒771-1262<br>徳島県板野郡藍住町笠木字中野72-1</dd>
			<dt>運営統括責任者：</dt>
			<dd>株式会社ゼロアワー<br>代表取締役 出原健二</dd>
			<dt>電話&FAX番号：</dt>
			<dd>電話:088-677-3170<br>FAX:088-692-7031</dd>
			<dt>メールアドレス：</dt>
			<dd>query@futboljersey.com</dd>
		</dl></div>

		</td>
	</tr>	
</table>
<br />
<table width="950px">
<tr>
<th colspan="3" style="color:#ffffff; height:25px; font-size: 11pt; background-color: #000066; padding: 2px 15px; font-weight:bold;">
特別相互リンク
</th>
</tr>
<tr>
<td width="33%" align="center">
<a href="http://www.ozzys.jp/" target="_blank" title="ルアー＆フライフィッシング オンラインショップ オジーズ">ルアー＆フライフィッシング<br />オンラインショップ オジーズ</a>
</td>
<td width="33%" align="center">
<a href="http://www.seotools.jp/" target="_blank" title="SEOアクセス解析ツール">SEOアクセス解析ツール</a>
</td>
<td width="33%" align="center">
<a href="http://www.azet.jp/" target="_blank" title="ホームページ アゼット ">ホームページ作成 アゼット</a>
</td>
</tr>
</table>
</td>
</tr>
</table>




</div>

<div id="footer"><a href="$http/" title="サッカー用品
サッカーユニフォーム
サッカースパイク
フットボールジャージドットコム
ネイバーズスポーツ"copyright(c)2007 ZEROHOUR CO.LTD AllRights Reserved.</a></div>


</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-573797-1");
pageTracker._trackPageview();
</script>
</body>




</html>