<!-- フッター -->
<div id="shoppinginfo">
<h2>お買い物インフォメーション</h2>
<table width="950" cellpadding="10" cellspacing="0" >
	<tr valign="top">
		<td width="33%">
		<h3>取扱商品について</h3>
		
		 当店は実店舗と同一の在庫であります関係上、ご注文後に在庫切れが発生する場合がございます。<br>
誠にご迷惑をお掛け致しますが、あらかじめご了承の頂きますようお願い申し上げます。
<dl>
	<dt>・サイズについて</dt>
	<dd>多くの衣料品はメーカー日本法人・日本総代理店の輸入品・ライセンス商品又は自社並行輸入品の為、
	サイズはインターナショナルサイズ表記です。<br>(日本サイズ表記の商品もございます。）<br><br></dd>
	<dt>・価格について</dt>
	<dd>自社並行輸入品は為替レートの関係上、価格が変動することがあります。 <br><br></dd>
	<dt>・カラー等</dt>
	<dd>撮影・ディスプレイ等の関係で、実物と多少色など異なる場合もございます。<br><br></dd>
</dl>
		</td>
		<td width="33%">
		<h3>支払い方法</h3>
		<dl>
	<dt>・代金引換</dt>
	<dd>佐川急便E-コレクトサービス<br>
	ヤマト運輸コレクトサービス<br>
	商品をお受け取りになる際に配達員へお支払いください。<br><br>
	</dd>
	<dt>・クレジットカード払い</dt>
	<dd><a href="http://payment.kuronekoyamato.co.jp/help/hanbai/card.html" target="_blank" title="クロネコ＠ペイメント">クロネコ＠ペイメント</a>利用<br>
	各種クレジットカード会社を利用可能です。<br><img src="/img/card.gif" width="250" height="70" alt="利用可能カード会社">
	<br><br>
	</dd>
	<dt>・銀行振込（前払い）</dt>
	<dd>入金確認後の商品発送となります。<br>
	当社にて、在庫確認後、振込先をご連絡いたします。
	メール到着後5日以内指定口座にお振込み下さい。<br>
	なお、<b>振り込み手数料はお客様負担</b>とさせて頂きます。
	<br><br>
	</dd>
	<dt>・コンビニ払い（前払い）</dt>
	<dd><b>お支払代金の他に別途請求書発行手数料158円かかります。</b><br>
	ご注文確認後お振り込み用紙（お支払い用紙）を、商品お送り先住所にお送りさせていただきます。<br>
	入金確認後の商品発送となります。
	</dd>
</dl>
		</td>
		<td width="33%">
		<h3>お届け日時指定</h3>
		お届け日：ご注文日より1週間先までご指定いただけます。日時の指定を行うことが可能です。<br>
お届時間：以下の時間帯をご指定することができます。<br>
<p>【佐川急便】<br>
午前中（8時～12時）、12時～14時、14時～16時<br>16時～18時、18時～21時
</p>
<p>【ヤマト運輸】<br>
午前中、12時-14時、14-16時、16-18時<br>18-20時、20-21時
</p>

		
		</td>
	<tr valign="top">
		<td width="33%">
		<h3>送料及び手数料</h3>
			<p>
	【ヤマト運輸・佐川急便共通】<br>
	<b>全国一律:698円(税込）</b><br>
	<span style="color: #cc0000;font-weight:bold;">10,500円以上のご購入で送料無料となります。</span><br>
	※交換の際の着払送料は上記割引価格は適用されません。 
	</p>
	<table class="souryou">
	<tr><td colspan="2">代引手数料：【ヤマト運輸・佐川急便共通】</td></tr>
		<tr align="right" >
			<td width="200">10,000円まで</td>
			<td width="100">315円(税込）</td>
		</tr>
		<tr align="right" >
			<td>10,001円以上30,000円まで</td>
			<td>420円(税込）</td>
		</tr>
		<tr align="right" >
			<td>30,001円以上100,000円まで</td>
			<td>630円(税込）</td>
		</tr>
		<tr align="right" >
			<td>100,001円以上300,000円まで</td>
			<td>1,050円(税込）</td>
		</tr>
		<tr align="right" >
			<td>300.001円以上500,000円まで</td>
			<td>2,100円(税込）</td>
		</tr>
	</table>
		</td>
		<td width="33%">
		<h3>返品交換について</h3>
			交換・返品をご希望の際は、商品到着後10日以内に電話または、メールにて、弊社までご連絡下さい。<br>
	お客様都合による返品・交換は<br>
	損傷・汚損などがなく、再販可能商品のみ返品・交換をお受けします。
	<ul>
		<li>誤送・不良品→送料・手数料弊社負担</li>
		<li>お客様都合　→送料・手数料お客様ご負担</li>
	</ul>
	<dl>
		<dt>・返品の場合の代金返却</dt>
		<dd>クレジットカード利用<br>
		クレジット会社を通して、請求金額を返金させて頂きます。<br><br>
		それ以外の購入方法の場合<br>
		指定の銀行口座に商品代金をお振込みいたします。</dd>
	
		
		</td>
		<td width="33%">
		<h3>ショップ案内</h3>
		     <table>
     	<tr>
     		<td width="100">販売会社名</td>
     		<td>株式会社ゼロアワー</td>
     	</tr>
     	<tr>
     		<td valign="top">所在地</td>
     		<td>〒779-3741<br>徳島県美馬市脇町字曽江名581番地</td>
     	</tr>
     	<tr>
     		<td valign="top">店舗名</td>
     		<td>ネイバーズスポーツ<br>(営業時間:10:00-20:00<br>火曜のみ10:00-15:00<br>　　　　定休日:毎週水曜日)</td>
     	</tr>
     	<tr>
     		<td valign="top">店舗所在地</td>
     		<td>〒771-1262<br>徳島県板野郡藍住町笠木字中野72-1 メガネ本舗2階</td>
     	</tr>
     	<tr>
     		<td valign="top">運営統括責任者</td>
     		<td>株式会社ゼロアワー<br>代表取締役 出原健二</td>
     	</tr>
     	<tr>
     		<td valign="top">電話＆FAX番号</td>
     		<td>電話:088-677-3170<br>
     		FAX:088-692-7031
     		</td>
     	</tr>
     	<tr>
     		<td>メールアドレス</td>
     		<td>query@futboljersey.com</td>
     	</tr>
     </table>


		
		</td>
	</tr>	
	
	
	
</table>
