		<p class="header-banner"><a href="/goods/23/"><img src="/img/header/buyonlin_201610.gif" width="950" height="70" alt="BUY ONLINE" /></a></p>
		<p class="header-banner"><a href="/goods/"><img src="/img/header/souryou_muryou_all.gif" width="950" height="70" alt="日本国内全品送料無料" /></a></p>
		<p class="header-banner"><a href="/goods/g21472/"><img src="/img/header/prepaid-point.gif" width="950" height="70" alt="お得なプリペイドポイントはこちらから！" /></a></p>
		<p class="header-banner"><img src="/img/header/no-to-phony-products.gif" width="950" height="70" alt="コピー商品の取り扱いはありません。" /></p>
	</div>
<div style="position:relative;"> 
<span style="position:absolute; top:-400px; left:-90px; width:108px; height:4342px; background-image:url(/img/head/obi_allfree.gif); background-repeat: repeat-y; display:block;"></span>
</div>
<div style="position:relative;"> 
<span style="position:absolute; top:-400px; left:960px; width:108px; height:4342px; background-image:url(/img/head/obi_allfree.gif); background-repeat: repeat-y; display:block;"></span>
</div>
