  <tr class="<!--GOODSLINE-->">
    <td rowspan="7">
    <!--DELMSG-->
    <input type="checkbox" name="del_pluid[<!--PLUID-->]" value="1" />
    </td>
    <td colspan="2"><!--GOODSNAME--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td colspan="2"><!--MAKER--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td colspan="2"><!--CATEGORY--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td><!--PLUID--></td>
    <td><!--LISTNUM--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td><!--COLOR--></td>
    <td><!--SIZE--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td><!--STOCK--></td>
    <td><!--PRICE-->円</td>
  </tr><tr class="<!--GOODSLINE-->">
    <td class="list_line"><!--RUTOUKI--></td>
    <td class="list_line"><!--RUZENKI--></td>
  </tr>
