  <tr class="<!--GOODSLINE-->">
    <td rowspan="4">
    <!--DELMSG-->
    <input type="checkbox" name="<!--DELPLUID-->pluid[<!--PLUID-->]" value="1" />
    </td>
    <td><!--PLUID--></td>
    <td><!--LISTNUM--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td><!--COLOR--></td>
    <td><!--SIZE--></td>
  </tr><tr class="<!--GOODSLINE-->">
    <td><!--STOCK--></td>
    <td><!--PRICE-->蜀・/td>
  </tr><tr class="<!--GOODSLINE-->">
    <td class="list_line"><!--RUTOUKI--></td>
    <td class="list_line"><!--RUZENKI--></td>
  </tr>
