  +ADw-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td rowspan+AD0AIg-7+ACIAPg-
    +ADwAIQ---DELMSG--+AD4-
    +ADw-input type+AD0AIg-checkbox+ACI- name+AD0AIgA8ACE---DELPLUID--+AD4-pluid+AFsAPAAh---PLUID--+AD4AXQAi- value+AD0AIg-1+ACI- /+AD4-
    +ADw-/td+AD4-
    +ADw-td colspan+AD0AIg-2+ACIAPgA8ACE---GOODSNAME--+AD4APA-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td colspan+AD0AIg-2+ACIAPgA8ACE---MAKER--+AD4APA-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td colspan+AD0AIg-2+ACIAPgA8ACE---CATEGORY--+AD4APA-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td+AD4APAAh---PLUID--+AD4APA-/td+AD4-
    +ADw-td+AD4APAAh---LISTNUM--+AD4APA-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td+AD4APAAh---COLOR--+AD4APA-/td+AD4-
    +ADw-td+AD4APAAh---SIZE--+AD4APA-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td+AD4APAAh---STOCK--+AD4APA-/td+AD4-
    +ADw-td+AD4APAAh---PRICE--+AD5RhgA8-/td+AD4-
  +ADw-/tr+AD4APA-tr class+AD0AIgA8ACE---GOODSLINE--+AD4AIgA+-
    +ADw-td class+AD0AIg-list+AF8-line+ACIAPgA8ACE---RUTOUKI--+AD4APA-/td+AD4-
    +ADw-td class+AD0AIg-list+AF8-line+ACIAPgA8ACE---RUZENKI--+AD4APA-/td+AD4-
  +ADw-/tr+AD4-
