  <tr class="<!--GOODSLINE-->">
    <td class="check-box-tb">
    <!--DELMSG-->
    <input type="checkbox" name="<!--DELPLUID-->pluid[<!--PLUID-->]" value="1" />
    </td>
    <td class="text-tb"><!--GOODSNAME--></td>
    <td class="text-tb"><!--MAKER--></td>
    <td class="text-tb"><!--CATEGORY--></td>
    <td><!--PLUID--></td>
    <td><!--LISTNUM--></td>
    <td class="text-tb"><!--COLOR--></td>
    <td><!--SIZE--></td>
    <td><!--STOCK--></td>
    <td><!--PRICE-->円</td>
    <td class="list_line"><!--RUTOUKI--></td>
    <td class="list_line"><!--RUZENKI--></td>
  </tr>
