<div id="outer">
<!-- ヘッター -->
	<div id="header">
		<h1>ユニフォーム、スパイク、フットサルシューズ、ボール、エナメルバッグ、プレイヤーから、コレクターまで、品揃え豊富なサッカーショップ「ネイバーズスポーツ」</h1>
		<div id="title"><a href="/" title="サッカースパイク
ユニフォーム
フットサルシューズ
ネイバーズスポーツ"><img src="/img/title_nbs.gif" width="950" height="90" alt="サッカースパイク
ユニフォーム
フットサルシューズ
ネイバーズスポーツ"></a></div>

		<div id="menu">
		<ul>
			<li class="menu_li1"><a href="/" title="サッカースパイク
ユニフォーム
フットサルシューズ
NBS"><img src="/img/menu_home.gif" width="157" height="35" alt="サッカースパイク
ユニフォーム
NBS"></a></li>
			<li class="menu_li2"><a href="/cago.php?mode=check" title="サッカーショップ
NBS
買い物かご"><img src="/img/menu_cart.gif" width="157" height="35" alt="サッカーショップ
NBS
買い物かご"></a></li>
			<li class="menu_li3"><a href="/affiliate.php" title="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
アフィリエイト"><img src="/img/menu_affiliate.gif" width="157" height="35" alt="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
アフィリエイト"></a></li>
			<li class="menu_li4"><a href="/1-SHOP/" title="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
店舗情報"><img src="/img/menu_shop.gif" width="157" height="35" alt="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
店舗情報"></a></li>
			<li class="menu_li5"><a href="mailto:query%40futboljersey.com?Subject=NBS%82%D6%82%CC%82%A8%96%E2%82%A2%8D%87%82%ED%82%B9" title="サッカーショップ
NBS
お問合せ"><img src="/img/menu_contact.gif" width="157" height="35" alt="サッカーショップ
NBS
お問合せ"></a></li>
			<li class="menu_li6"><a href="/1-NEWS/" title="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
新入荷情報"><img src="/img/menu_new.gif" width="157" height="35" alt="サッカースパイク
ユニフォーム
フットサルシューズ
NBS
新入荷情報"></a></li>
		</ul>
		</div>
