<h2 class="title-nbs">ネイバーズスポーツ アフィリエイト</h2>

<!--PAGELINK-->
<!--DITAILE-->
<div class="box-outline">
	<table class="aff_table">
		<tr>
			<th>画像リンク</th>
		</tr>
		<!--GHTML-->
	</table>
</div>

<div class="box-outline">
	<table class="aff_table">
				<tr>
					<th>テキストリンク</th>
				</tr>
			<!--THTML-->
	</table>
</div>

<div class="box-outline">
	<table class="aff_table">
		<tr>
			<th>メール用リンク</th>
		</tr>
		<!--MHTML-->
	</table>
</div>
<!--PAGELINK-->
<!--/DITAILE-->

<!--NOTDITAILE-->
<div class="box-outline">
	<table class="member_summary">
			<tr>
				<td>該当する商品又はページがございません。</td>
			</tr>
	</table>
</div>
<!--/NOTDITAILE-->
