<h2 class="title-nbs">買い物かご
	<!--PAGEHEADTITLE-->
</h2>

<div class="member_summary cago">
	<!--ERRORMSG-->

	<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="member_table">
	<tr>
		<th>
			●注意
		</th>
	</tr>
	<tr>
		<td>
			●文字を入力する際、各項目で半角入力か全角入力か指定してありますので、それに従って入力してください。<br />
			●赤い文字で<span class="red bold">(必記)</span>と書いてある項目は、必ず入力してください。<br />
			●必要事項を全て記入の上、画面下にある「<span class="bold">確認画面へ</span>」というボタンをクリックしてください。<br />
		</td>
	</tr>
	</table> -->

	<!--TYUUIDEL-->
	<section class="caution-section">
		<h4 class="sub-title-simple">注意</h3>
			<div class="caution">
				<span>●文字を入力する際、各項目で半角入力か全角入力か指定してありますので、それに従って入力してください。</span><br>
				<span>●赤い文字で<b class="important bold">(必記)</b>と書いてある項目は、必ず入力してください。</span><br>
				<span>●必要事項を全て記入の上、画面下にある「<b class="bold">確認画面へ</b>」というボタンをクリックしてください。</span>
			</div>
	</section>
	<!--/TYUUIDEL-->

	<!--PAYPALLASTMSG-->

	<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="member_table">
		<tr>
			<th>
				●注意
			</th>
		</tr>
		<tr>
			<td>
				●お支払い内容が以下でよろしい場合は「ご注文」ボタンをクリックしてください。<br />
			</td>
		</tr>
	</table> -->

	<section class="caution-section">
		<h4 class="sub-title-simple">注意</h4>
		<div class="caution">
			<span>お支払い内容が以下でよろしい場合は「ご注文」ボタンをクリックしてください。</span>
		</div>
	</section>
	<!--/PAYPALLASTMSG-->

	<!--最終画面-->

	<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="syouhin">
		GOODS
		MARKING
		WARIBIKIDEL
		<tr>
			<th class="pay_information" colspan="3"><span class="bold red">特別会員割引(
					WARIBIKI% )
				</span></th>
			<th><span class="red">-
					NEBIKI
				</span> 円</td>
		</tr>
		/WARIBIKIDEL
		WARIBIKI2DEL
		<tr>
			<th class="pay_information" colspan="3"><span class="bold red">割引(
					WARIBIKI2% )
				</span></th>
			<th><span class="red">-
					NEBIKI
				</span> 円</th>
		</tr>
		/WARIBIKI2DEL
		PAERSENTDEL
		<tr>
			<th class="pay_information" colspan="3"><span class="bold red">割引(
					PAERSENT% )
				</span></th>
			<th><span class="red">-
					NEBIKI
				</span> 円</th>
		</tr>
		/PAERSENTDEL

		SOURYOUSDEL
		<tr>
			<th class="pay_information" colspan="3">送料</th>
			<th><span class="red">サービス </span></th>
		</tr>
		/SOURYOUSDEL
		RPOINTDEL
		<tr>
			<th class="pay_information" colspan="3">割引ポイント利用</th>
			<th><span class="red">-
					RPOINTN
				</span> 円</th>
		</tr>
		/RPOINTDEL
		SOURYOUDEL
		<tr>
			<th class="pay_information" colspan="3">送料</th>
			<th>
				UNTINN 円
			</th>
		</tr>
		/SOURYOUDEL
		GOUKEI
	</table> -->


	<section>
		<div class="cago-form">
			<div class="cago-goods">
				<!--GOODS-->
			</div>
			<div class="cago-marking">
				<!--MARKING-->
			</div>
		</div>

		<div class="total-amount">
			<!--WARIBIKIDEL-->
			<div class="discount">
				<span><b class="bold important">特別会員割引(
						<!--WARIBIKI-->% )
					</b></span>
				<span><b class="important">-
						<!--NEBIKI-->
					</b> 円</span>
			</div>
			<!--/WARIBIKIDEL-->
			<!--WARIBIKI2DEL-->
			<div class="discount">
				<span><b class="bold important">割引(
						<!--WARIBIKI2-->% )
					</b></span>
				<span><b class="important">-
						<!--NEBIKI-->
					</b> 円</span>
			</div>
			<!--/WARIBIKI2DEL-->
			<!--PAERSENTDEL-->
			<div class="discount">
				<span><b class="bold important">割引(
						<!--PAERSENT-->% )
					</b></span>
				<span><b class="important">-
						<!--NEBIKI-->
					</b> 円</span>
			</div>
			<!--/PAERSENTDEL-->

			<div class="total-price">
				<div class="postage">
					<!--SOURYOUSDEL-->
					<div class="postage-detail">
						<span class="first-item">送料</span>
						<span class="important">サービス </span>
					</div>
					<!--/SOURYOUSDEL-->
					<!--RPOINTDEL-->
					<div class="postage-detail">
						<span>割引ポイント利用</span>
						<span><b class="important">-
								<!--RPOINTN-->
							</b> 円</span>
					</div>
					<!--/RPOINTDEL-->
					<!--SOURYOUDEL-->
					<div class="postage-detail">
						<span>送料</span>
						<span>
							<!--UNTINN--> 円
						</span>
					</div>
					<!--/SOURYOUDEL-->
					<!--GOUKEI-->
				</div>
			</div>
		</div>
	</section>

	<!--最終画面 ここまで-->

	<form action="<!--PHP_SELF-->" method="post" id="cart_form">
		<input type="hidden" name="mode" id="cart_mode" />
		<input type="hidden" name="action" id="cart_action" />

		<!--PAYPALLASTDEL-->
		<section class="contact-information-form">
			<h4 class="sub-title-simple estimate-title">お客様の情報フォーム</h4>
			<div class="contact-information-innerBlock">
				<h4 class="sub-title-simple">
					漢字氏名（全角）：（例:山田　太郎）<span class="important">（必記）</span>
				</h4>
				<div class="enter-the-name">
					<div>
						<!--NAMEDEL-->
						<label>姓：</label>
						<input type="text" name="name_s" value="<!--NAMES-->" />
					</div>
					<div>
						<label>名：</label>
						<input type="text" name="name_n" value="<!--NAMEN-->" />
						<!--/NAMEDEL-->
						<!--NAMESN-->&nbsp;
						<!--NAMENN-->
					</div>
				</div>
				<h4 class="sub-title-simple">
					ふりがな（全角）：（例:やまだ　たろう）<span class="important">（必記）</span>
				</h4>
				<div class="enter-the-name">
					<div>
						<!--KANADEL-->
						<label>姓：</label>
						<input type="text" name="kana_s" value="<!--KANAS-->" />
					</div>
					<div>
						<label>名：</label>
						<input type="text" name="kana_n" value="<!--KANAN-->" />
						<!--/KANADEL-->
						<!--KANASN-->&nbsp;
						<!--KANANN-->
					</div>
				</div>
				<h4 class="sub-title-simple">
					住所<span class="important">（必記）</span>
				</h4>
				<div class="address-info">
					<div>
						<span>
							●郵便番号（半角）：（例:999-9999）
						</span>
						<div>
							<!--ZIPDEL-->
							〒<input type="text" class="first-post-code" name="zip1" maxlength="3"
								value="<!--ZIP1-->" />－<input type="text" class="second-post-code" maxlength="4"
								name="zip2" value="<!--ZIP2-->" />
							<!--/ZIPDEL-->
							<!--ZIPN-->
						</div>
					</div>
					<div>
						<span class="bold">●都道府県</span>
						<!--PRF-->
						<!--PRFN-->
					</div>
					<div>
						<span>
							<span class="bold">●市区町村名</span>（全角）：（例:千代田区）
						</span>
						<!--CITYDEL--><input class="input-address" type="text" name="city" value="<!--CITY-->" />
						<!--/CITYDEL-->
						<!--CITYN-->
					</div>
					<div>
						<span>
							●所番地（全角）：（例:永田町９－９－９）
						</span>
						<!--ADD1DEL--><input class="input-address" type="text" name="add1" value="<!--ADD1-->" />
						<!--/ADD1DEL-->
						<!--ADD1N-->
					</div>
					<div>
						<span class="bold">●マンション名など</span>（全角）：（例:ネイバーズマンション１０１号室）
						<!--ADD2DEL--><input class="input-address" type="text" name="add2" value="<!--ADD2-->" />
						<!--/ADD2DEL-->
						<!--ADD2N-->
					</div>
				</div>
				<h4 class="sub-title-simple">
					電話番号（半角）：（例:012-345-6789）<span class="important">（必記）</span> 固定電話または携帯電話どちらかご入力お願いします。
				</h4>
				<div>
					<div class="landline-mobile">
						<!--TELDEL-->
						<label>固定電話：</label>
						<div>
							<input type="text" name="tel1" value="<!--TEL1-->" />－<input type="text" name="tel2"
								value="<!--TEL2-->" />－<input type="text" name="tel3" value="<!--TEL3-->" />
						</div>
						<!--/TELDEL-->
						<!--TELN-->
					</div>
					<div class="landline-mobile">
						<!--KEIDEL-->
						<label>携帯電話：</label>
						<div>
							<input type="text" name="kei1" value="<!--KEI1-->" />－<input type="text" name="kei2"
								value="<!--KEI2-->" />－<input type="text" name="kei3" value="<!--KEI3-->" />
						</div>
						<!--/KEIDEL-->
						<!--KEIN-->
					</div>
				</div>
				<h4 class="sub-title-simple">
					FAX番号>（半角）：（例:012-345-6789）
				</h4>
				<div class="phone-number">
					<!--FAXDEL-->
					<input type="text" name="fax1" value="<!--FAX1-->" />－<input type="text" name="fax2"
						value="<!--FAX2-->" />－<input type="text" name="fax3" value="<!--FAX3-->" />
					<!--/FAXDEL-->
					<!--FAXN-->
				</div>
				<h4 class="sub-title-simple">
					メールアドレス（半角）：（例:query@futboljersey.com）
				</h4>
				<div class="contact-content">
					<!--EMAIL1DEL-->E-mail1：<input type="text" class="input-address" name="email"
						value="<!--EMAIL-->" />
					<!--/EMAIL1DEL-->
					<!--MAIL1N-->
					<!--EMAIL2DEL-->E-mail2：<input type="text" class="input-address" name="email2"
						value="<!--EMAIL2-->" />
					<!--/EMAIL2DEL-->
					<!--MAIL2N-->
					<div>
						<!--TEXTDEL-->
						誤入力でご連絡のメールが届かない場合がございますので、<br />
						複数お持ちの方はE-mail2のご入力もお願いします。<br />
						携帯のメールアドレスのご利用はなるべく控えてください。<br />
						ご確認メールが届かない場合がございます。<br />
						携帯のメールアドレスをどうしても利用する場合はドメイン指定解除など、<br />
						orders@futboljersey.comが受信できるように設定してください。
						<!--/TEXTDEL-->
					</div>
				</div>
				<h4 class="sub-title-simple">
					配達ご希望時間帯
				</h4>
				<div class="contact-content">
					<!--HAITATU-->
					<!--HAITATUN-->
				</div>
				<h4 class="sub-title-simple">
					在庫切れの場合：<span class="important">（必記）</span>
				</h4>
				<div class="contact-content">
					<!--ZAIKO-->
					<!--ZAIKON-->
				</div>
				<h4 class="sub-title-simple">
					支払方法：<span class="important">（必記）</span>
				</h4>
				<div class="contact-content">
					<!--SHIHARAI-->
					<!--SHIHARAIN-->
				</div>
				<div>
					<!--NOTPOINT-->
					<div>
						ポイント利用　保有割引ポイント：
						<!--POINTALL--> 円
					</div>
					<div>
						<span class="important bold">※
							<!--MINPOINT-->ポイントからご利用可能です。
						</span>
					</div>
					<!--/NOTPOINT-->
				</div>
				<div>
					<!--POINT-->
					<div class="remaining-point">
						<div>
							<input type="hidden" name="point" value="<!--POINTALL-->" />
							ポイント利用　保有割引ポイント：
							<b class="bold"><!--POINTALL--> 円</b>
						</div>
						<div>
							<span class="important">注:商品代金のみ割引ポイントをご利用できます。(最低利用可能ポイントは、
								<!--MINPOINT-->ポイントからです。）
							</span><br />
							<input type="radio" name="r_point" value="1" <!--CHECKED1--> />：利用する
							<input type="radio" name="r_point" value="2" <!--CHECKED2--> />：利用しない<br />
							利用割引ポイント：<input type="text" size="6" name="g_point" value="<!--GPOINT-->">
						</div>
					</div>
					<!--/POINT-->
				</div>
				<h4 class="sub-title-simple">
					ご意見・ご要望など
				</h4>
				<div class="contact-content">
					<!--MSRDEL--><textarea name="msr" rows="10" cols="60"><!--MSR--></textarea>
					<!--/MSRDEL-->
					<!--MSRN-->
				</div>
			</div>
		</section>


		<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
		<!-- <table>
			<tr>
				<th>
					漢字氏名（全角）：（例:山田　太郎）<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					NAMEDEL
					姓：<input size="20" type="text" name="name_s" value="--NAMES--" />名：<input size="20" type="text"
						name="name_n" value="--NAMEN--" />
					/NAMEDEL
					NAMESN&nbsp;
					NAMENN
				</td>
			</tr>
			<tr>
				<th>
					ふりがな（全角）：（例:やまだ　たろう）<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					KANADEL
					姓：<input size="20" type="text" name="kana_s" value="--KANAS--" />名：<input size="20" type="text"
						name="kana_n" value="--KANAN--" />
					/KANADEL
					KANASN&nbsp;
					KANANN
				</td>
			</tr>
			<tr>
				<th>
					住所<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					●郵便番号（半角）：（例:999-9999）
				</td>
			</tr>
			<tr>
				<td>
					ZIPDEL
					〒<input size="6" type="text" name="zip1" maxlength="3" value="--ZIP1--" />－<input size="8"
						type="text" maxlength="4" name="zip2" value="--ZIP2--" />
					/ZIPDEL
					ZIPN
				</td>
			</tr>
			<tr>
				<td>
					●<span class="bold">都道府県</span>
				</td>
			</tr>
			<tr>
				<td>
					PRF
					PRFN
				</td>
			</tr>
			<tr>
				<td>
					●<span class="bold">市区町村名</span>（全角）：（例:千代田区）
				</td>
			</tr>
			<tr>
				<td>
					CITYDEL<input size="40" type="text" name="city" value="--CITY--" />
					/CITYDEL
					CITYN
				</td>
			</tr>
			<tr>
				<td>
					●所番地（全角）：（例:永田町９－９－９）
				</td>
			</tr>
			<tr>
				<td>
					ADD1DEL<input size="40" type="text" name="add1" value="--ADD1--" />
					/ADD1DEL
					ADD1N
				</td>
			</tr>
			<tr>
				<td>
					●<span class="bold">マンション名など</span>（全角）：（例:ネイバーズマンション１０１号室）
				</td>
			</tr>
			<tr>
				<td>
					ADD2DEL<input size="40" type="text" name="add2" value="--ADD2--" />
					/ADD2DEL
					ADD2N
				</td>
			</tr>
			<tr>
				<th>
					電話番号（半角）：（例:012-345-6789）<span class="red">（必記）</span> 固定電話または携帯電話どちらかご入力お願いします。
				</th>
			</tr>
			<tr>
				<td>
					TELDEL
					固定電話：<input size="8" type="text" name="tel1" value="--TEL1--" />－<input size="8" type="text"
						name="tel2" value="--TEL2--" />－<input size="8" type="text" name="tel3"
						value="--TEL3--" />
					/TELDEL
					TELN
					<br />
					KEIDEL
					携帯電話：<input size="8" type="text" name="kei1" value="--KEI1--" />－<input size="8" type="text"
						name="kei2" value="--KEI2--" />－<input size="8" type="text" name="kei3"
						value="--KEI3--" />
					/KEIDEL
					KEIN
				</td>
			</tr>
			<tr>
				<th>
					FAX番号>（半角）：（例:012-345-6789）
				</th>
			</tr>
			<tr>
				<td>
					FAXDEL
					<input size="8" type="text" name="fax1" value="--FAX1--" />－<input size="8" type="text"
						name="fax2" value="--FAX2--" />－<input size="8" type="text" name="fax3"
						value="--FAX3--" />
					/FAXDEL
					FAXN
				</td>
			</tr>
			<tr>
				<th>
					メールアドレス（半角）：（例:query@futboljersey.com）
				</th>
			</tr>
			<tr>
				<td>
					EMAIL1DELE-mail1：<input size="40" type="text" name="email" value="--EMAIL--" />
					/EMAIL1DEL
					MAIL1N
					<br />
					EMAIL2DELE-mail2：<input size="40" type="text" name="email2" value="--EMAIL2--" />
					/EMAIL2DEL
					MAIL2N
					<br />
					TEXTDEL
					誤入力でご連絡のメールが届かない場合がございますので、<br />
					複数お持ちの方はE-mail2のご入力もお願いします。<br />
					携帯のメールアドレスのご利用はなるべく控えてください。<br />
					ご確認メールが届かない場合がございます。<br />
					携帯のメールアドレスをどうしても利用する場合はドメイン指定解除など、<br />
					orders@futboljersey.comが受信できるように設定してください。
					/TEXTDEL
				</td>
			</tr>
			<tr>
				<th>
					配達ご希望時間帯
				</th>
			</tr>
			<tr>
				<td>
					HAITATU
					HAITATUN
				</td>
			</tr>
			<tr>
				<th>
					在庫なき場合：<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					ZAIKO
					ZAIKON
				</td>
			</tr>
			<tr>
				<th>
					支払方法：<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					SHIHARAI
					SHIHARAIN
				</td>
			</tr>
			NOTPOINT
			<tr>
				<th>
					ポイント利用　保有割引ポイント：
					POINTALL 円
				</th>
			</tr>
			<tr>
				<td>
					<span class="red bold">※
						MINPOINTポイントからご利用可能です。
					</span>
				</td>
			</tr>
			/NOTPOINT
			POINT
			<tr>
				<th>
					<input type="hidden" name="point" value="--POINTALL--" />
					ポイント利用　保有割引ポイント：
					POINTALL 円
				</th>
			</tr>
			<tr>
				<td>
					<span class="red">注:商品代金のみ割引ポイントをご利用できます。(最低利用可能ポイントは、
						MINPOINTポイントからです。）
					</span><br />
					<input type="radio" name="r_point" value="1" --CHECKED1-- />：利用する
					<input type="radio" name="r_point" value="2" --CHECKED2-- />：利用しない<br />
					利用割引ポイント:<input type="text" size="6" name="g_point" value="--GPOINT--">
				</td>
			</tr>
			/POINT
			<tr>
				<th>
					ご意見ご要望など
				</th>
			</tr>
			<tr>
				<td>　
					MSRDEL<textarea name="msr" rows="10" cols="60">MSR</textarea>
					/MSRDEL
					MSRN
				</td>
			</tr>
		</table> -->

		<!--/PAYPALLASTDEL-->


		<!--KAKUNINDEL-->
		<div class="confirmation-button">
			<input type="button" class="submit" value="確認画面へ" OnClick="cart_form_submit('check', '');"
				id="cart_mode_send" />
			<input type="button" class="submit" value="買い物かごへ戻る" OnClick="cart_form_submit('', '');"
				id="cart_mode_retutrn" />
		</div>
		<!--/KAKUNINDEL-->

		<!--TYUUMONHIDE-->
		<table class="member_table cago_button">
			<!--NOTPAYPAL-->

			<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
			<!-- <tr>
				<td colspan="3">
					上記の内容でよろしい場合は”ご注文”ボタンを押して下さい。
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="button" value="ご注文" OnClick="cart_form_submit('send', '');" id="cart_mode_check" />
				</td>
			</tr> -->

			<div class="cago-purchase-section">
				<div class="order-button">
					<span>上記の内容でよろしい場合は”ご注文”ボタンを押して下さい。</span>
					<input type="button" class="submit" value="ご注文" OnClick="cart_form_submit('send', '');"
						id="cart_mode_check" />
				</div>
			</div>


			<!--/NOTPAYPAL-->
			<!--PAYPAL-->
			<tr>
				<td colspan="3">
					上記の内容でよろしい場合は以下のPayPalのボタンをクリックしお支払い手続きをお願い致します。<br />
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type='image' name='button'
						src='https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/jp/developer/purchase_228_50.png'
						border='0' align='top' alt='購入手続き PayPal' OnClick="cart_form_submit('send', 'paypal');"
						id="cart_mode_paypal" />
				</td>
			</tr>
			<!--/PAYPAL-->
			<!--PAYJP-->
			<tr>
				<td colspan="3">
					上記の内容でよろしい場合は以下のPAY.JPのボタンをクリックしお支払い手続きをお願い致します。<br />
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<script>
						function payjp_callback() {
							cart_form_submit('send', '')
						}
					</script>
					<script type="text/javascript" src="<!--PAYJPSRC-->" class="payjp-button" data-key="<!--PAYJPKEY-->"
						data-text="<!--PAYJPBUTTON-->" data-submit-text="<!--PAYJPSUBMIT-->"
						data-on-created="payjp_callback" data-lang="<!--PAYJPLANG-->"
						data-name-placeholder="<!--PAYJPPLACEHOLDER-->" data-partial="false"></script>
				</td>
			</tr>
			<!--/PAYJP-->
			<!--PAYPALLAST-->

			<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
			<!-- <tr>
				<td colspan="3">
					<input type="button" value="ご注文" OnClick="cart_form_submit('send', 'paypallast');"
						id="cart_mode_check" />
				</td>
			</tr> -->

			<!-- <div class="order-button">
				<input type="button" class="submit" value="ご注文" OnClick="cart_form_submit('send', 'paypallast');"
					id="cart_mode_check" />
			</div> -->

			<!--/PAYPALLAST-->

			<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
			<!-- <tr>
				<td colspan="3">
					変更する場合は下記のボタンを押して下さい。
				</td>
			</tr>
			<tr>
				<td colspan="3" class="cago_center">
					<input type="button" value="買い物かごへ戻る" OnClick="cart_form_submit('', 'back');"
						id="cart_mode_retutrn" />
				</td>
			</tr>
			<tr>
				<td colspan="3" class="cago_center">
					<input type="button" value="お届け先情報へ戻る" OnClick="cart_form_submit('user_data', 'back');"
						id="cart_mode_modoru" />
				</td>
			</tr> -->

			<div class="cago-purchase-section">
				<div class="order-button change-items">
					<span>変更する場合は下記のボタンを押して下さい。</span>
					<input type="button" class="submit" value="買い物かごへ戻る" OnClick="cart_form_submit('', 'back');"
						id="cart_mode_retutrn" />
					<input type="button" class="submit" value="お届け先情報へ戻る"
						OnClick="cart_form_submit('user_data', 'back');" id="cart_mode_modoru" />
				</div>
			</div>

		</table>
		<!--/TYUUMONHIDE-->
	</form>
</div>
<!--.member_summary-->