<h2 class="title-nbs">買い物かご　ユーザー確認</h2>
<form action="<!--PHP_SELF-->" method="post">
	<input type="hidden" name="mode" value="user_data">
	<input type="hidden" name="action" value="login_check">
	<!--ERROR-->

	<div id="login">
	<p>会員登録時に登録したメールアドレスと、パスワードを入力しログインボタンを押してください。<br />
	自動ログインにチェックを入れますと、ブラウザを終了してもログアウトしないように設定されます。</p>
	<table class="login-table">
		<tr>
			<th>メールアドレス</th>
			<td><input size="40" type="text" name="email" value="<!--EMAIL-->" id="reset_email" /> (半角)</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input size="16" type="text" maxlength="8" name="pass" value="<!--PASS-->" id="reset_pass" /> (半角)</td>
		</tr>
		<tr>
			<th>自動ログイン</th>
			<td><input type="checkbox" name="check" value="1" id="reset_checkbox" <!--CHECKED--> />：自動ログインする</td>
		</tr>
	</table>
	<div class="button_gui">
		<input type="submit" class="btn-standard" value="ログイン" />
		<input type="button" class="btn-standard" value="リセット" OnClick="form_reset();" return false; />
	</div>
	</form>
	<p>会員登録をしていない方は<a href="/member/"><b class="important">こちらから会員登録</b></a>してください。</p>
</div>

<!--login-->