	<div id="footer">
		<h2 id="okaimono"><img src="/img/footer/t_okaimono.gif" width="950" height="30" alt="お買い物インフォメーション"></h2>
		<div id="footer-top">
			<div id="footer-main10">
				<h4>取扱商品について</h4>
				<p>当店は実店舗と同一の在庫であります関係上、ご注文後に在庫切れが発生する場合がございます。<br />
誠にご不便をお掛け致しますが、あらかじめご了承の頂きますようお願い申し上げます。</p>
				<dl>
					<dt>サイズについて</dt>
					<dd>多くの衣料品はメーカー日本法人・日本総代理店の輸入品・ライセンス商品又は自社並行輸入品の為、サイズはインターナショナルサイズ表記です。<br />
(日本サイズ表記の商品もございます。）
					</dd>
					<dt>価格について</dt>
					<dd>自社並行輸入品は為替レートの関係上、価格が変動することがあります。</dd>
					<dt>カラー等</dt>
					<dd>撮影・ディスプレイ等の関係で、実物と多少色など異なる場合もございます。</dd>
				</dl>
			</div><!--footer-main10-->
			<div id="footer-main20">
				<h4>支払方法</h4>
				<dl>
					<dt>代金引換</dt>
					<dd>日本郵便ゆうぱっく代引サービス<br>佐川急便E-コレクトサービス<br />
ヤマト運輸コレクトサービス<br />
商品をお受け取りになる際に配達員へお支払いください。
					</dd>
					<dt>クレジットカード払い</dt>
					<dd>
					<a href="https://www.paypal.jp/jp/contents/start/using/" target="_blank" title="PayPal決済">PayPal決済</a>利用<br />
各種クレジットカード会社を利用可能です。<br />
<!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/webapps/mpp/logo/about','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/jp/developer/AM_235_65.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
					</dd>
					<dt>クレジットカード払い</dt>
					<dd>
					<a href="https://payment.kuronekoyamato.co.jp/help/hanbai/card.html" target="_blank" title="クロネコ＠ペイメント">クロネコ＠ペイメント</a>利用<br />
各種クレジットカード会社を利用可能です。<br />
					<img src="/img/footer/card.gif" width="250" height="70" alt="利用可能カード会社">
					</dd>
					<dt>銀行振り込み(前払い)</dt>
					<dd>入金確認後の商品発送となります。<br />
当社にて、在庫確認後、振込先をご連絡いたします。メール到着後5日以内指定口座にお振込み下さい。<br />
なお、<span class="bold">振り込み手数料はお客様負担</span>とさせて頂きます。</dd>
					<hr />
					<dd>振込先1：三井住友(ミツイスミトモ)銀行　荏原(エバラ)支店<br />
普通:1067558<br />
口座名:ネイバーズスポーツ</dd>
					<dd>振込先2：楽天(ラクテン)銀行　タンゴ支店<br />
普通:7043165<br />
口座名:株式会社ゼロアワー</dd>
					<dt>後払い決済</dt>
					<dd>
					<a href="http://www.ato-barai.com/annai.html" target="_blank" title="後払い.com">後払い.com</a>利用<br />
商品到着後14日以内にコンビニ/銀行/郵便局でお支払いとなります。<br />
株式会社キャッチボール与信審査の結果によっては「後払い決済」サービスのご利用をお断りすることがございます。<br />
後払い決済手数料とし、支払合計金額の5％を手数料としお客様負担とさせて頂きます。<br />
但し最低手数料は250円とします。</dd>
				</dl>
				<ul>
					<li>FAX注文についてはネットコンビニでのご利用できません。</li>
					<li>見積注文についてはネットコンビニでのご利用できません。</li>
					<li>リンクについての決済についてはネットコンビニでのご利用できません。</li>
				</ul>
			</div><!--footer-main20-->
			<div id="footer-main30">
				<h4>お届け日時指定</h4>
				<p>お届け日：ご注文日より1週間先までご指定いただけます。日時の指定を行うことが可能です。<br />
お届時間：以下の時間帯をご指定することができます。</p>
				<p>【佐川急便】<br />
				<img src="/img/footer/deliverytime-s1.gif" width="50" height="61" alt="午前中（8時～12時）">
				<img src="/img/footer/deliverytime-s2.gif" width="51" height="60" alt="12時～14時">
				<img src="/img/footer/deliverytime-s3.gif" width="50" height="60" alt="14時～16時">
				<img src="/img/footer/deliverytime-s4.gif" width="51" height="60" alt="16時～18時">
				<img src="/img/footer/deliverytime-s5.gif" width="51" height="60" alt="18時～21時">
				</p>
				<p>【ヤマト運輸】<br />
				<img src="/img/footer/deliverytime-y1.gif" width="49" height="60" alt="午前中">
				<img src="/img/footer/deliverytime-y2.gif" width="49" height="60" alt="12時-14時">
				<img src="/img/footer/deliverytime-y3.gif" width="49" height="60" alt="14-16時">
				<img src="/img/footer/deliverytime-y4.gif" width="49" height="60" alt="16-18時">
				<img src="/img/footer/deliverytime-y5.gif" width="49" height="60" alt="18-20時">
				<img src="/img/footer/deliverytime-y6.gif" width="49" height="60" alt="20-21時">
				</p>
			</div><!--footer-main30-->
		</div><!--footer-top-->
		<div id="footer-middle">
			<div id="footer-main40">
				<h4>送料及び手数料</h4>
				<p>【ヤマト運輸・佐川急便・日本郵便・西濃運輸共通】<br />
<span class="bold">全国一律:798円(税込）</span><br />
<span id="yen-10500">10,800円以上のご購入で送料無料となります。</span><br />
<span class="bold">※交換の際の着払送料は上記割引価格は適用されません。</span></p>
				<p>代引手数料：【日本郵便・ヤマト運輸・佐川急便共通】</p>
				<table>
					<tr>
						<th>3,650円まで</th>
						<td>648円(税込）</td>
					</tr>
					<tr>
						<th>10,000円まで</th>
						<td>324円(税込）</td>
					</tr>
					<tr>
						<th>10,001円以上30,000円まで</th>
						<td>432円(税込）</td>
					</tr>
					<tr>
						<th>30,001円以上100,000円まで</th>
						<td>648円(税込）</td>
					</tr>
					<tr>
						<th>100,001円以上300,000円まで</th>
						<td>1,080円(税込）</td>
					</tr>
					<tr>
						<th>300.001円以上500,000円まで</th>
						<td>2,160円(税込）</td>
					</tr>
				</table>
<!--
				<p><img src="/img/footer/souryou_s.gif" width="180" alt="ご購入金額10,800円以上で、送料無料" /></p>
-->
			</div><!--footer-main40-->
			<div id="footer-main50">
				<h4>返品交換について</h4>
				<dl>
					<dt>返品について</dt>
					<dd>交換・返品をご希望される場合は、商品到着後10日以内に電話またはメールにて弊社までご連絡下さい。商品到着後11日以降の交換・返品には、応じかねる場合がありますのでご注意ください。<br />
送料無料対象商品をご注文時、返品された場合は弊社からの送付送料をご負担頂きます。</dd>
				</dl>
				<ul>
					<li>誤送・不良品→送料・手数料弊社負担</li>
					<li>お客様都合 →送料・手数料お客様ご負担</li>
				</ul>
				<dl>
					<dt>返品・交換の条件</dt>
					<dd>
					損傷、汚損、商品違い等がございましたらメールもしくは電話にて弊社までご連絡願います。
					</dd>
					<dt>お客様のご都合による返品・交換</dt>
					<dd>損傷・汚損などがなく再販可能な場合のみ返品・交換を受け付けます。 なお、送料はお客様のご負担となります。 商品到着後10日以内にご返送ください。（返送方法に特に指定はありません。）<br />
<span class="red">注1:尚、ネーム・背番号等をプリントした商品のご注文後のキャンセル、変更及び返品はお受けできませんのでご了承ください。
特価品及び取寄せ商品の返品もお受けできませんのでご了承ください。<br><br> 

注2:シューズボックス及び発送用箱、袋等の破損汚れ等があった場合でも、中身の商品自体に問題がない場合の返品交換はお断りいたします。<br>
</span>
					</dd>
					<dt>返品の場合の代金返却</dt>
					<dd>クレジットカード利用<br />
クレジット会社を通して、請求金額を返金させて頂きます。<br />
それ以外の購入方法の場合<br />
指定の銀行口座に商品代金をお振込みいたします。</dd>
				</dl>
			</div><!--footer-main50-->
			<div id="footer-main60">
				<h4>ショップ案内</h4>
				<dl>
					<dt>販売会社名：</dt>
					<dd>株式会社ゼロアワー</dd>
					<dt>所在地：</dt>
					<dd>〒779-3741<br>徳島県美馬市脇町字曽江名581番地</dd>
					<dt>店舗名：</dt>
					<dd>ネイバーズスポーツ<br></dd>
					<dt>営業時間：</dt>
					<dd>10:00-19:00<br>定休日:毎週水曜日</dd>
					<dt>店舗所在地：</dt>
					<dd>〒771-1262<br>徳島県板野郡藍住町笠木字中野72-1</dd>
					<dt>運営統括責任者：</dt>
					<dd>株式会社ゼロアワー<br>代表取締役 出原健二</dd>
					<dt>電話＆FAX番号：</dt>
					<dd>電話:088-677-3170<br>FAX:088-692-7031</dd>
					<dt>メールアドレス：</dt>
					<dd>query@futboljersey.com</dd>
				</dl>
			</div><!--footer-main60-->
		</div><!--footer-middle-->
		<div id="footer-link">
			<h4>特別総合リンク</h4>
			<div id="footer-link10">
				<p><a href="https://ozzys.jp/" target="_blank" title="ルアー＆フライフィッシング オンラインショップ オジーズ">ルアー＆フライフィッシング<br>オンラインショップ オジーズ</a></p>
			</div><!--footer-link10-->
			<div id="footer-link20">
				<p><a href="https://uranairanking.jp/" target="_blank" title="日の運勢 12星座占いランキング">今日の運勢<br>12星座占いランキング</a></p>
<!--
				<p><a href="http://www.seotools.jp/" target="_blank" title="SEOアクセス解析ツール">SEOアクセス解析ツール</a></p>
-->
			</div><!--footer-link20-->
			<div id="footer-link30">
				<p><a href="https://www.azet.jp/" target="_blank" title="eラーニングシステム制作 有限会社アゼット">eラーニングシステム制作 有限会社アゼット</a></p>
			</div><!--footer-link30-->
		</div><!--footer-link-->
		<p id="footer-banner"><img src="/img/footer/footer.gif" width="950" height="40" alt="copyright(c)2008 ZEROHOUR CO.LTD AllRights Reserved." /></p>
	</div><!--footer-->
<script type="text/javascript">
<!--
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
-->
</script>
<script type="text/javascript">
<!--
var pageTracker = _gat._getTracker("UA-573797-1");
pageTracker._trackPageview();
-->
</script>
