			<h2><!--GOODSNAME--></h2>
			<p id="img-main"><!--IMAGE00--></p>
			<p id="img-thumbnail">
<!--IMAGE01-->
<!--IMAGE02-->
<!--IMAGE03-->
<!--IMAGE04-->
<!--IMAGE05-->

<!--IMAGE06-->
<!--IMAGE07-->
<!--IMAGE08-->
<!--IMAGE09-->
			</p>
			<form action="<!--KAGOURL-->" method="post" class="product_form">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="code" value="<!--CODE-->">
			<input type="hidden" name="name" value="<!--GOODSNAME-->">
			<input type="hidden" name="kakaku" value="<!--SPRICE-->">

				<table>
					<tr>
						<th><span class="bold">価格：</span></th>
						<td><!--PRICE--></td>
					</tr>
<!--NOTSOLDOUT-->
					<tr>
						<th><span class="bold">サイズ：</span></th>
						<td>
						<select name="size">
<!--OPTION-->
						</select>
						</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><input type="submit" value="買い物かごに入れる" /></td>
					</tr>
<!--/NOTSOLDOUT-->
<!--SOLDOUT-->
					<tr>
						<th>&nbsp;</th>
						<td><span class="bold font-size red">SOLD OUT</span></td>
					</tr>
<!--/SOLDOUT-->

				</table>
			</form>
			
			<h3 id="description">商品説明</h3>
			<table id="description_table">
				<tr>
					<th>商品名：</th>
					<td><!--SOURYOUMURYOU--><!--GOODSNAME--></td>
				</tr>
				<tr>
					<th>ブランド名：</th>
					<td><!--BRAND--></td>
				</tr>
				<tr>
					<th>価格：</th>
					<td><!--PRICE--></td>
				</tr>
				<tr>
					<th>品番：</th>
					<td><!--CODE--></td>
				</tr>
				<tr>
					<th>サイズ：</th>
					<td><!--SIZE--></td>
				</tr>
				<tr>
					<th>商品説明：</th>
					<td class="description_msg"><!--SETSUMEI--></td>
				</tr>
				<tr>
					<th>納期：</th>
					<td class="description_msg"><!--NOUKI--></td>
				</tr>
			</table>

			<form action="<!--KAGOURL-->" method="post" class="product_form">
			<input type="hidden" name="action" value="add">
			<input type="hidden" name="code" value="<!--CODE-->">
			<input type="hidden" name="name" value="<!--GOODSNAME-->">
			<input type="hidden" name="kakaku" value="<!--SPRICE-->">

				<table>
					<tr>
						<th><span class="bold">価格：</span></th>
						<td><!--PRICE--></td>
					</tr>
<!--NOTSOLDOUT-->
					<tr>
						<th><span class="bold">サイズ：</span></th>
						<td>
						<select name="size">
<!--OPTION-->
						</select>
						</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><input type="submit" value="買い物かごに入れる" /></td>
					</tr>
<!--/NOTSOLDOUT-->
<!--SOLDOUT-->
					<tr>
						<th>&nbsp;</th>
						<td><span class="bold font-size red">SOLD OUT</span></td>
					</tr>
<!--/SOLDOUT-->

				</table>
			</form>
