<h2 class="title-nbs title-items-list">会員登録</h2>
<!--ERRORMSG-->
<div class="member_summary">
	<h3>注意</h3>
  	<ul class="list circle">
				<li>住所、メールアドレス等登録内容に変更があった場合は、必ず会員登録変更を行ってください。<br />
				<li>文字を入力する際、各項目で半角入力か全角入力か指定してありますので、それに従って入力してください。<br />
				<li>「<mark class="important">(必記)</mark>」と書いてある項目は、必ず入力してください。
	</ul>

<form action="<!--PHP_SELF-->" method="post" class="login-table"/>
	<table>
		<tr>
			<th colspan="2">
				会員登録変更する方は、確認のため登録したメールアドレスとパスワードを入力していただき<mark class="emphasis">登録変更をする</mark>を押して下さい。
			</th>
		</tr>
		<tr>
			<th>
				メールアドレス
			</th>
			<td>
				<input size="40" type="text" name="email" value="<!--EMAIL-->" />
			</td>
		</tr>
		<tr>
			<th>
				パスワード
			</th>
			<td>
				<input size="20" type="password" name="pass" maxlength="8" />
			</td>
		</tr>
	</table>

	<table id="member_button" class="member_table">
		<td>
			<input type="hidden" name="modes" value="hen" />
			<input type="submit" value="登録変更をする" />
		</td>
	</table>
</form>
</div><!--.member_summary-->
