<h2 class="title-nbs title-items-list">商品発送状況</h2>
	<form action="<!--PHP_SELF-->" method="POST">
		<!--ERROR-->
		<div id="kakunin-form">
			<p>ご注文された商品の発送、入荷予定日情報をご覧になりたい場合は、 ご注文時に入力されたメールアドレスと返信メールに記載されているご注文番号を入力し確認ボタンを押して下さい。</p>
			<table class="kakunin login-table">
				<tr>
					<th class="email">メールアドレス</th>
					<td><input size="40" type="text" name="email" value="<!--EMAIL-->" id="reset_email" /></td>
				</tr>
				<tr>
					<th class="sells_num">ご注文番号</th>
					<td><input size="40" type="text" maxlength="16" name="sells_num" value="<!--SELLSNUM-->" id="reset_sells_num" /></td>
				</tr>
			</table>
			<div class="button_gui">
				<input type="hidden" name="mode" value="syo" />
				<input type="submit" value="確認" class="submit" />
				<input type="button" class="submit" value="リセット" OnClick="form_reset();" return false; />
			</div>
		</div>
	</form>
	
