<h2 class="title-nbs">ネイバーズスポーツ アフィリエイト規約</h2>
<!--KIYAKU-->
<div class="box-outline agreement-content">
	<!--KIYAKUTEXT-->
</div>
<!--/KIYAKU-->

<!--KIYAKUDOUI-->
<!--ERRORS-->
<p>アフィリエイトに参加する場合以下の規約をお読みください。</p>
<table class="aff_table">
	<tr>
		<td>
			<!--KIYAKUTEXT-->
		</td>
	</tr>
</table>
<p>
	上記の規約に同意出来るならば同意するにチェックをし、登録ボタンを押してください。<br />
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="regist">
		<input type="hidden" name="action" value="regist">
		<input type="checkbox" name="doui" value="1">：規約に同意する。<br />
		<input type="submit" value="登録">
	</form>
</p>
<!--/KIYAKUDOUI-->
<br />
<form action="<!--PHP_SELF-->" method="POST" class="edit-button">
	<input type="submit" class="btn-standard" value="アフィリエイトTOPに戻る">
</form>
