<h2 class="title-nbs">マーキング</h2>

<!--ERRORMSG-->


<div class="member_summary marking">

	<!-- 2022/11/30 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="note">
		<tr>
			<th class="cate2">●注意</th>
		</tr>
		<tr>
			<td class="cate3">
				<div class="note_img">
					<img src="/image/marking_sample_01.jpg" />
					<img src="/image/marking_sample_02.jpg" />
				</div>
				<p class="rtex">
					マーキング処理をした場合、シャツの色がシートに透けて色が混ざったように見える現象が起こる場合がありますが、
					昇華防止加工がなされていないシートでは通常起こる現象ですので、昇華したシートが不良品、或いはプリントミスではございません。
					昇華したものについての当社へのクレームは一切お受け出来ませんので、予めご了承の上ご注文下さいますようお願い申し上げます。
					<br /><br />
				</p>
				<div id="cate3in">
					<span class="rtex">[ラバーとフロックの違いについて]</span>
					<ul>
						<li>ラバー：光沢があるポリエステル素材。</li>
						<li>フロック：羊毛に似た起毛素材。</li>
					</ul>
				</div>
				<div id="cate3in">
					<ul>
						<li>●マーキング素材及びスタイルが分からない方は<span class="rtex">ご注文前に必ず事前にお問合せ下さい。</span></li>
						<li>●イングランドプレミアリーグオフィシャル背番号<span class="rtex">（2色フロック）</span>、
							スペインリーグLFP付背番号<span class="rtex">（2色ラバー）</span>、スコットランドプレミアリーグSPL付背番号<span
								class="rtex">（2色ラバー）</span></li>
						<li>●持込マーキングの方も下記フォームから注文して下さい。<span class="rtex">(銀行振込かクレジットカード決済のみ受付)</span></li>
						<li>●シャツ持込、選手名以外、番号のみのマーキングは<span class="rtex">銀行振込かクレジットカード決済のみ</span>でお願いしております。
							<span class="rtex">（代金引換はご利用出来ません）</span>
						</li>
						<li>●殆ど商品のマーキングスタイル（字体）は選手着用モデルと同様のオフィシャルです。オフィシャルマーキングが出来ない商品の場合はご連絡致します。</li>
						<li>●お問合せは、こちらまでお願い致します。</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
	<br /> -->

	<section class="caution-section">
		<h4 class="sub-title-simple">注意</h4>
		<div class="caution">
			<div class="caution_img">
				<img src="/image/marking_sample_01.jpg" class="img-responsive" />
				<img src="/image/marking_sample_02.jpg" class="img-responsive" />
			</div>
			<div class="explanation-text">
				<span class="important">
					マーキング処理をした場合、シャツの色がシートに透けて色が混ざったように見える現象が起こる場合がありますが、
					昇華防止加工がなされていないシートでは通常起こる現象ですので、昇華したシートが不良品、或いはプリントミスではございません。
					昇華したものについての当社へのクレームは一切お受け出来ませんので、予めご了承の上ご注文下さいますようお願い申し上げます。
				</span>
			</div>
			<div class="explanation-text">
				<h4 class="important">[ラバーとフロックの違いについて]</h4>
				<span>ラバー：光沢があるポリエステル素材。</span>
				<span>フロック：羊毛に似た起毛素材。</span>
			</div>
			<div class="explanation-text">
				<div class="text-area">
					<span>●</span><span>マーキング素材及びスタイルが分からない方は<b class="important">ご注文前に必ず事前にお問合せ下さい。</b></span><br>
				</div>
				<div class="text-area">
					<span>●</span><span>イングランドプレミアリーグオフィシャル背番号<b class="important">（2色フロック）</b>、スペインリーグLFP付背番号<b
							class="important">（2色ラバー）</b>、スコットランドプレミアリーグSPL付背番号<b
							class="important">（2色ラバー）</b></span><br>
				</div>
				<div class="text-area">
					<span>●</span><span>持込マーキングの方も下記フォームから注文して下さい。<b
							class="important">(銀行振込かクレジットカード決済のみ受付)</b></span><br>
				</div>
				<div class="text-area">
					<span>●</span><span>シャツ持込、選手名以外、番号のみのマーキングは<b class="important">銀行振込かクレジットカード決済のみ</b>でお願いしております。
						<b class="important">（代金引換はご利用出来ません）</b></span><br>
				</div>
				<div class="text-area">
					<span>●</span><span>殆ど商品のマーキングスタイル（字体）は選手着用モデルと同様のオフィシャルです。オフィシャルマーキングが出来ない商品の場合はご連絡致します。</span><br>
				</div>
				<div class="text-area">
					<span>●</span><span>お問合せは、こちらまでお願い致します。</span>
				</div>
			</div>
		</div>
	</section>

	<!-- 2022/11/29 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="name_print_ex">
			<tr>
				<th colspan="2" class="cate2">ご注文フォーム</th>
			</tr>
			<tr>
				<th class="cate2" width="200">マーキング商品</th>
				<td class="cate3">
					<select name="hinban">
						<option value="" selected>選択して下さい。</option>
						HINBANLIST
					</select>
				</td>
			</tr>
			<tr>
				<th class="cate2">背番号</th>
				<td class="cate3">
					タイプ：
					<select name="seban_l">
						<option value="" selected>無し</option>
						SEBANLIST
					</select>
					番号：<input size="4" type="text" name="seban_num" value="SEBANNUM">（半角数字）
				</td>
			</tr>
			<tr>
				<th class="cate2">背ネーム</th>
				<td class="cate3">
					タイプ：
					<select name="sename_l">
						<option value="">無し</option>
						SENAMELIST
					</select>
					ネーム：<input size="20" type="text" name="sename_name" value="SENAMENAME">（半角英字）
				</td>
			</tr>
			<tr>
				<th class="cate2">胸番号</th>
				<td class="cate3">
					タイプ：
					<select name="muneban_l">
						<option value="" selected>無し</option>
						MUNEBANLIST
					</select>
					番号：<input size="4" type="text" name="muneban_num" value="MUNEBANNUM">（半角数字）
				</td>
			</tr>
			<tr>
				<th class="cate2">パンツ番号</th>
				<td class="cate3">
					タイプ：
					<select name="pant_l">
						<option value="" selected>無し</option>
						PANTLIST
					</select>
					番号：<input size="4" type="text" name="pant_num" value="PANTNUM">（半角数字）
				</td>
			</tr>
			<tr>
				<th class="cate2">バッジ</th>
				<td class="cate3">
					<select name="bach_l">
						<option value="" selected>無し</option>
						BACHLIST
					</select>
				</td>
			</tr>
			<tr>
				<td class="cate3" colspan="2" align="center">
					<input type="submit" value="買い物かごに入れる" class="submit"> <input type="reset" class="submit">
				</td>
			</tr>
		</table> -->
	<!-- 2022/11/29 コメントアウトここまで uenishi -->



	<!-- 注文フォーム -->
	<section class="order-section">
		<h4 class="sub-title-simple order-form-title">ご注文フォーム</h4>
		<form action="<!--PHP_SELF-->" method="POST">
			<input type="hidden" name="mode" value="add">
			<div class="order-form">
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>マーキング商品</h4>
						</div>
						<div class="input-section">
							<select name="hinban" class="select-type">
								<option value="" selected>選択して下さい。</option>
								<!--HINBANLIST-->
							</select>
						</div>
					</div>
				</div>
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>背番号</h4>
						</div>
						<div class="input-section">
							<div>
								<label>タイプ</label>
								<select name="seban_l" class="select-type">
									<option value="" selected>無し</option>
									<!--SEBANLIST-->
								</select>
							</div>
							<div>
								<label>番号(半角英数字)</label>
								<input type="number" name="seban_num" value="<!--SEBANNUM-->" placeholder="番号">
							</div>
						</div>
					</div>
				</div>
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>背ネーム</h4>
						</div>
						<div class="input-section">
							<div>
								<label>タイプ</label>
								<select name="sename_l" class="select-type">
									<option value="">無し</option>
									<!--SENAMELIST-->
								</select>
							</div>
							<div>
								<label>ネーム(半角英数字)</label>
								<input type="text" name="sename_name" value="<!--SENAMENAME-->" placeholder="ネーム"
									class="input-name">
							</div>
						</div>
					</div>
				</div>
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>胸番号</h4>
						</div>
						<div class="input-section">
							<div>
								<label>タイプ</label>
								<select name="muneban_l" class="select-type">
									<option value="" selected>無し</option>
									<!--MUNEBANLIST-->
								</select>
							</div>
							<div>
								<label>番号(半角英数字)</label>
								<input type="number" name="muneban_num" value="<!--MUNEBANNUM-->" placeholder="番号">
							</div>
						</div>
					</div>
				</div>
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>パンツ番号</h4>
						</div>
						<div class="input-section">
							<div>
								<label>タイプ</label>
								<select name="pant_l" class="select-type">
									<option value="" selected>無し</option>
									<!--PANTLIST-->
								</select>
							</div>
							<div>
								<label>番号(半角英数字)</label>
								<input type="number" name="pant_num" value="<!--PANTNUM-->" placeholder="番号">
							</div>
						</div>
					</div>
				</div>
				<div class="marking-container">
					<div class="marking-form">
						<div class="category-name">
							<h4>バッジ</h4>
						</div>
						<div class="input-section">
							<select name="bach_l" class="select-batch">
								<option value="" selected>無し</option>
								<!--BACHLIST-->
							</select>
						</div>
					</div>
				</div>
				<div class="submit-section">
					<input type="submit" value="買い物かごに入れる" class="submit">
					<input type="reset" class="submit">
				</div>
			</div>
		</form>
	</section>


	<!-- 2022/11/30 レスポンシブ対応につきコメントアウト uenishi -->
	<!-- <table class="sleep_batch_ex">
		<tr>
			<th class="cate2" colspan="3">ネームプリント例</th>
		</tr>
		<tr align="center">
			<td class="cate3" width="33%"><img src="/image/PRINTING-STYLE-7SHEVCHENKO.jpg" width="120" height="156" alt=""></td>
			<td class="cate3" width="33%"><img src="/image/PRINTING-STYLE-13CANNAVARO.jpg" width="120" height="156" alt=""></td>
			<td class="cate3" width="33%"><img src="/image/PRINTING-STYLE-16KEANE.jpg" width="120" height="156" alt=""></td>
		</tr>
	</table>
	<table class="sleep_batch_ex">
		<tr>
			<th class="cate2" colspan="4">スリーブバッジ例</th>
		</tr>
		<tr align="center">
			<td class="cate3" width="25%"><img src="/image/2007-ASIACUP-BADGE.gif" width="140" height="120" alt=""></td>
			<td class="cate3" width="25%"><img src="/image/04-PREMIERLEAGUE-BADGE.gif" width="120" height="120" alt=""></td>
			<td class="cate3" width="25%"><img src="/image/SPL-BADGE.jpg" width="150" height="80" alt=""></td>
			<td class="cate3" width="25%"><img src="/image/03-CHAMPIONSLEAGUE-BADGE.gif" width="120" height="120" alt=""></td>
		</tr>
	</table> -->

	<section class="ex-section">
		<h4 class="sub-title-simple">ネームプリント例</h4>
		<div class="name-print-ex">
			<div class="name-image"><img src="/image/PRINTING-STYLE-7SHEVCHENKO.jpg"></div>
			<div class="name-image"><img src="/image/PRINTING-STYLE-13CANNAVARO.jpg"></div>
			<div class="name-image"><img src="/image/PRINTING-STYLE-16KEANE.jpg"></div>
		</div>
	</section>
	<section class="ex-section">
		<h4 class="sub-title-simple">スリープバッチ例</h4>
		<div class="sleep-batch-ex">
			<div class="sleep-image"><img src="/image/2007-ASIACUP-BADGE.gif"></div>
			<div class="sleep-image"><img src="/image/04-PREMIERLEAGUE-BADGE.gif"></div>
			<div class="sleep-image"><img src="/image/SPL-BADGE.jpg"></div>
			<div class="sleep-image"><img src="/image/03-CHAMPIONSLEAGUE-BADGE.gif"></div>
		</div>
	</section>

</div>