<h2 class="title-nbs title-items-list">会員登録</h2>
<!--ERRORMSG-->
<div class="member_summary">
  <section class="box-outline">
    <h4 class="box-title big">会員特典</h4>
    <div class="box-content">
      <ul class="list circle">
        <li>会員登録後は、面倒な住所などの入力が省略出来ます。</li>
        <li>
          購入商品金額の<span class="important">5%</span
          >が割引ポイントとなり、次回の注文時から利用出来るようになります。
        </li>
        <li>注文商品の発送状況や、過去の注文内容が確認出来ます。</li>
        <li>会員限定割引セール等がご利用出来ます。</li>
      </ul>
    </div>
  </section>
  <section class="box-outline">
    <h4 class="box-title big">注意</h4>
    <div class="box-content">
      <ul class="list circle">
        <li>
          文字を入力する際、各項目で半角入力か全角入力か指定してありますので、それに従って入力してください。
        </li>
        <li class="important">携帯電話のメールアドレスの登録はしないで下さい。</li>
        <li class="important">
          会員登録後に自動返信メールが届かない場合はメールアドレスが間違っているか、そのメールアドレスに何らかのトラブルがあるか、メールの受信を拒否する設定にされている事が考えられます。
        </li>
        <li>
          ご連絡無く注文キャンセル、またはご注文後入金されなかった等のトラブルを起こされた方は、事前連絡なしで会員登録を抹消致します。抹消された場合、ポイント等は全て無効になります。
        </li>
        <li>
          「<span class="important">(必記)</span
          >」と書いてある項目は、必ず入力してください。
        </li>
        <li>
          必要事項を全て記入の上、画面下にある<span class="emphasis"
            >確認画面へ</span
          >を押してください。
        </li>
        <li>
          登録内容を変更する場合は、ログインした後、左メニューにある<span
            class="emphasis"
            >登録変更</span
          >から変更を行ってください。
        </li>
      </ul>
    </div>
  </section>
  <section class="box-outline">
    <h4 class="box-title big">
      会員登録する方は、下記にメールアドレスを入力し会員登録するを押して下さい。
    </h4>
    <div class="box-content input-area center">
      <form action="<!--PHP_SELF-->" id="register-mail-form" method="post">
        <label for="email-input">メールアドレス：</label
        ><input
          class="input-full-length"
          type="email"
          id="email-input"
          name="email"
          value="<!--EMAIL-->"
          form="register-mail-form"
          placeholder="query@futboljersey.com"
        />
        <input type="hidden" name="modes" value="new" form="register-mail-form" />
        <button type="submit" form="register-mail-form" value="会員登録する">
          会員登録する
        </button>
      </form>
    </div>
  </section>

</div>
<!--.member_summary-->
