<!--ERRORMSG-->
<div class="member_summary">
  <form action="<!--PHP_SELF-->" method="post" id="member-form">
    <section class="box-outline">
  	<h2 class="title-nbs title-items-list">会員登録 お客様情報登録フォーム </h2>
  	<div class="member-form-area">
  	  <h4 class="box-title">漢字氏名 <span class="important">(必記)</span></h3>
  	  <div class="box-content input-area row">
  		<div  class="input-full-length">
  		  <!--NAMEDEL-->
  		  <label>姓：</label>
  		  <input type="text" class="input-full-length" name="name_s" value="<!--NAMES-->" placeholder="山田" required/>
  		</div>
  		<div  class="input-full-length">
  		  <label>名：</label>
  		  <input type="text"  class="input-full-length" name="name_n" value="<!--NAMEN-->" placeholder="太郎" required/>
  		  <!--/NAMEDEL-->
  		  <!--NAMESN-->&nbsp;
  		  <!--NAMENN-->
  		</div>
  	  </div>
  	  <h4 class="box-title">ふりがな<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row">
  		<div class="input-full-length">
  		  <!--KANADEL-->
  		  <label>姓：</label>
  		  <input class="input-full-length" type="text" name="kana_s" value="<!--KANAS-->" placeholder="やまだ" required />
  		</div>
  		<div class="input-full-length">
  		  <label>名：</label>
  		  <input type="text" class="input-full-length" name="kana_n" value="<!--KANAN-->" placeholder="たろう" required/>
  		  <!--/KANADEL-->
  		  <!--KANASN-->&nbsp;
  		  <!--KANANN-->
  		</div>
  	  </div>
  	  <h4 class="box-title">住所<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area col">
  		<div>
  		  <div>
  		  	<span class="bold">	郵便番号</span>（半角）：
  		  </div>
  		  <div>
  		  	<!--ZIPDEL-->
  		  	〒<input type="text" class="input-short" placeholder="999" name="zip1" maxlength="3"
  		  	value="<!--ZIP1-->" required/>－<input type="text" class="input-short"  placeholder="9999" maxlength="4"
  		  	name="zip2" value="<!--ZIP2-->" required/>
  		  	<!--/ZIPDEL-->
  		  	<!--ZIPN-->
  		  </div>
  		</div>
  		<div>
  		  <span class="bold">都道府県</span>
  		  <!--PRF-->
  		  <!--PRFN-->
  		</div>
  		<div>
  		  <div>
  		  	<span class="bold">市区町村名</span>（全角）：
  		  </div>
  		  <!--CITYDEL-->
  		  <input class="input-full-length" placeholder="千代田区" type="text" name="city" value="<!--CITY-->" />
  		  <!--/CITYDEL-->
  		  <!--CITYN-->
  		</div>
  		<div>
  		  <div>
  		  	<span class="bold">所番地</span>（全角）：
  		  </div>
  		  <!--ADD1DEL--><input class="input-full-length" placeholder="永田町９－９－９" type="text" name="add1" value="<!--ADD1-->" />
  		  <!--/ADD1DEL-->
  		  <!--ADD1N-->
  		</div>
  		<div>
  		  <div>
  		  	<span class="bold">マンション名など</span>（全角）：
  		  </div>
  		  <!--ADD2DEL-->
  		  <input class="input-full-length" placeholder="ネイバーズマンション　１０１号室" type="text" name="add2" value="<!--ADD2-->" />
  		  <!--/ADD2DEL-->
  		  <!--ADD2N-->
  		</div>
  	  </div>
  	  <h4 class="box-title">電話番号<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row">
  		<div>
  		  <!--TELDEL-->
  		  <input type="text" name="tel1" placeholder="012" value="<!--TEL1-->" class="input-short"/>－<input type="text" placeholder="3456" name="tel2" class="input-short"
  		    value="<!--TEL2-->" />－<input type="text" placeholder="6789" name="tel3" class="input-short" value="<!--TEL3-->" />
  		  <!--/TELDEL-->
  		  <!--TELN-->
  		</div>
  	  </div>
  	  <h4 class="box-title">FAX番号</h4>
  	  <div class="box-content input-area row">
  		<div>
  		  <!--FAXDEL-->
  		  <input type="text" name="fax1" class="input-short" value="<!--FAX1-->" placeholder="012" />－<input type="text" name="fax2"  class="input-short"
  		  	value="<!--FAX2-->" placeholder="3456"/>－<input type="text" name="fax3" placeholder="6789"  class="input-short" value="<!--FAX3-->" />
  		  <!--/FAXDEL-->
  		  <!--FAXN-->
  		</div>
  	  </div>
  	  <h4 class="box-title">メールアドレス<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row">
  	    <!--EMAILDEL-->
  	    <input type="email" class="input-full-length" name="email" placeholder="query@futboljersey.com"
  	      value="<!--EMAIL-->" />
  	    <!--/EMAILDEL-->
  	    <!--EMAILN-->
  	  </div>
  	  <h4 class="box-title">パスワード<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row">
  		<!--PASSDEL-->
  		<input type="password" class="input-full-length" name="pass1" value="" maxlength="8" placeholder="半角英数字6文字以上8文字以内" required/>
  	  </div>
  	  <h4 class="box-title">パスワード確認<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row ">
  		<input type="password" class="input-full-length" name="pass2" value="" maxlength="8" placeholder="半角英数字6文字以上8文字以内" required/>
  		<!--/PASSDEL-->  
  		<!--PASSN-->  
  	  </div>
  	  <h4 class="box-title">メールマガジン購読<span class="important">(必記)</span></h4>
  	  <div class="box-content input-area row">
  		<div>
  		  <!--MSRDEL-->
  		  <input type="radio" name="meruma" value="1" id="meruma1-field" <!--MERUMA1--> required/>
  		  <label for="meruma1-field">：購読する</label>
  		</div>
  		<div>
  		  <input type="radio" name="meruma" value="2" id="meruma2-field" <!--MERUMA2--> />
  		  <label for="meruma2-field">：購読しない</label>
  		  <!--/MSRDEL-->
  		  <!--MERUMAN-->
  		</div>
  	  </div>
  	</div>
    </section>
  </form>
<!--ORDERBUTTONDEL-->
<div class="box-content input-area row center">
	<div>
		<form action="<!--PHP_SELF-->" method="post">
			<input type="submit"class="btn-standard" value="やり直す" />
		</form>
	</div>
	<div>
		<input type="hidden" name="modes" value="send" form="member-form" />
		<input type="submit"class="btn-standard" value="確認画面へ"  form="member-form"/>
	</div>
</div>
<!--/ORDERBUTTONDEL-->
<!--TOUROKUDEL-->
<div class="box-content input-area col center">
	以上でよろしければ”登録する”ボタンを押して下さい。確認メールが届きます。
	<div>
		<form action="<!--PHP_SELF-->" method="post">
			<input type="hidden" name="modes" value="touroku" />
			<input type="button"class="btn-standard" value="登録する" OnClick="submit_disabled(this);" />
		</form>
	</div>

	もし上記の内容を訂正したい場合は下記の”修正する”ボタンを押して下さい。
	<div>
		<form action="<!--PHP_SELF-->" method="post">
			<input type="hidden" name="modes" value="back" />
			<input type="submit"  class="btn-standard" value="修正する" />
		</form>
	</div>
</div>
<!--/TOUROKUDEL-->
</div><!--.member_summary-->
