<div id="pc-col-left">
	<nav id="navbox">
		<div id="search">
			<p><img src="/img/left/kensaku.gif" width="180" height="30" alt="サッカーショップ ネイバーズスポーツ 商品検索" /></p>
			<form action="/goodssearch.php" method="get">
				<input type="text" name="word" size="20" id="search-text" class="input" />
				<input type="submit" name="submit" value="商品検索" id="search-button" class="btn-standard nav-search" />
			</form>
		</div>
		<!--search-->
		<div id="cat-menu">
			<h2><img src="/img/left/category.gif" width="180" height="25" alt="サッカーショップ ネイバーズスポーツ カテゴリー" /></h2>
			<ul>
				<li><a href="/goods/58/" title="2022カタール大会">2022カタール大会</a></li>
				<li><a href="/goods/20/1/" title="新入荷">新入荷</a></li>
				<li><a href="/goods/23/" title="特価商品">特価商品</a></li>
				<li><a href="/goods/24/" title="限定入荷一点限り">限定入荷一点限り</a></li>
				<li><a href="/good/3.htm" title="クラブチーム">クラブチーム</a></li>
				<li><a href="/goods/38/" title="Ｊリーグ">Ｊリーグ</a></li>
				<li><a href="/good/5.htm" title="ナショナルチーム">ナショナルチーム</a></li>
				<li><a href="/goods/56/" title="フットサル">フットサル</a></li>
				<li><a href="/goods/59/" title="トレーニング">トレーニング</a></li>
				<li><a href="/goods/62/" title="ゴールキーパー">ゴールキーパー</a></li>
				<li><a href="/goods/65/" title="レフェリー">レフェリー</a></li>
				<li><a href="/good/10.htm" title="ジュニア">ジュニア</a></li>
				<li><a href="/goods/74/" title="ストリート">ストリート</a></li>
				<li><a href="/good/12.htm" title="シューズ">シューズ</a></li>
				<li><a href="/goods/83/" title="バッグ">バッグ</a></li>
				<li><a href="/good/14.htm" title="ボール">ボール</a></li>
				<li><a href="/goods/92/" title="アクセサリー">アクセサリー</a></li>
			</ul>
		</div>
		<!--cat-menu-->
		<div id="cat-menu2">
			<ul>
				<li><a href="/1-NEWS/" title="新入荷情報"><img src="/img/left/new.gif" width="180" height="60"
							alt="新入荷情報"></a>
				</li>
				<li><a href="/goodssearch.php?word=インテル"><img src="/img/left/itiosi/itiosi_inter2.jpg" width="180"
							height="29" alt="インテル"></a></li>
				<li><a href="/goodssearch.php?word=ACミラン"><img src="/img/left/itiosi/itiosi_milan2.jpg" width="180"
							height="29" alt="ACミラン"></a></li>
				<li><a href="/goodssearch.php?word=バルセロナ"><img src="/img/left/itiosi/itiosi_barcelona2.jpg" width="180"
							height="29" alt="バルセロナ"></a></li>
				<li><a href="/goodssearch.php?word=レアルマドリード"><img src="/img/left/itiosi/itiosi_real2.jpg" width="180"
							height="29" alt="レアルマドリード"></a></li>
				<li><a href="/goodssearch.php?word=マンチェスターユナイテッド"><img src="/img/left/itiosi/itiosi_mu2.jpg" width="180"
							height="29" alt="マンチェスターユナイテッド"></a></li>
				<li><a href="/goodssearch.php?word=アーセナル"><img src="/img/left/itiosi/itiosi_arsenal2.jpg" width="180"
							height="29" alt="アーセナル"></a></li>
				<li><a href="/goodssearch.php?word=リバプール"><img src="/img/left/itiosi/itiosi_liverpool2.jpg" width="180"
							height="29" alt="リバプール"></a></li>
				<li><a href="/goodssearch.php?word=チェルシー"><img src="/img/left/itiosi/itiosi_chelsea2.jpg" width="180"
							height="29" alt="チェルシー"></a></li>
				<li><a href="/goods/68/1/" title="ジュニアレプリカユニフォーム"><img src="/img/left/itiosi/itiosi_jr_replica2.jpg"
							width="180" height="29" alt="ジュニアレプリカユニフォーム"></a></li>
				<li><a href="/goods/68/13/" title="ジュニアバッグ"><img src="/img/left/itiosi/itiosi_jr_bag2.jpg" width="180"
							height="29" alt="ジュニアバッグ"></a></li>
				<li><a href="/goods/83/1/" title="エナメルバッグ"><img src="/img/left/itiosi/itiosi_enamel2.jpg" width="180"
							height="29" alt="エナメルバッグ"></a></li>
				<li><a href="/goods/62/" title="ＧＫ"><img src="/img/left/itiosi/itiosi_gk2.jpg" width="180" height="29"
							alt="ＧＫ"></a></li>
				<li><a href="/goods/71/" title="ジュニアＧＫ"><img src="/img/left/itiosi/itiosi_jr_gk2.jpg" width="180"
							height="29" alt="ジュニアＧＫ"></a></li>
			</ul>
		</div>
		<!--cat-menu2-->
		<div id="menu02">
			<ul>
				<li><a href="/marking.php" title="マーキング"><img src="/img/left/menu_marking.gif" width="180" height="25"
							alt="マーキング"></a></li>
				<li><a href="/team.php" title="チームオーダー"><img src="/img/left/menu_team.gif" width="180" height="25"
							alt="チームオーダー"></a></li>
				<li><a href="/fax/" title="FAX注文"><img src="/img/left/menu_fax.gif" width="180" height="25"
							alt="FAX注文"></a>
				</li>
				<li><a href="/1-7/" title="商品購入方法"><img src="/img/left/menu_howto.gif" width="180" height="25"
							alt="商品購入方法"></a></li>
				<li><a href="/cautions.htm" title="問題解決方法"><img src="/img/left/menu_manual.gif" width="180" height="25"
							alt="問題解決方法"></a></li>
				<li><a href="/privacypolicy.htm" title="プライバシーポリシー"><img src="/img/left/menu_privacy.gif" width="180"
							height="25" alt="プライバシーポリシー"></a></li>
				<li><a href="/1-8/" title="リンク"><img src="/img/left/menu_link.gif" width="180" height="25"
							alt="リンク"></a>
				</li>
			</ul>
		</div>
		<!--menu02-->

		<p id="mail-magazine"><a href="/member/" title="お得な情報をお送りする。NBSメールマガジンのご登録はこちら！！"><img src="/img/left/mail.gif"
					width="180" height="80" alt="お得な情報をお送りする。NBSメールマガジンのご登録はこちら！！" /></a></p>


		<!-- 2022 11/22 レスポンシブ対応につき、コメントアウト　uenishi -->
		<!--
	<div id="calendar">
		<p><img src="/img/left/calendar.gif" width="178" height="30" alt="カレンダー" /></p>
		<div id="calendar-text">
			<img src="/calendar/201905_06.gif" width="170" height="360" alt="営業日カレンダー" />
			<p>
				<font color="#ffccff">■</font> 定休日の為、電話でのお問い合わせ、発送はお休みです。<br><br>
				受付時間：10:00～19:00<br />
				火曜のみ：10:00～15:00<br />
				お問合せ窓口<span class="bold"><span class="red">毎週水曜休み</span></span>
			</p>
		</div>
		calendar-text
	</div> -->
		<!--calendar-->
		<!-- <div id="card">
		<h2><img src="/img/left/card_co.gif" width="178" height="40" alt="利用可能カード会社" /></h2>
		<div id="card_text">
			<p>各種カード会社お取り扱いできます。</p>
			<p>
				<img src="/img/left/c_jcb.gif" width="50" height="50" alt="JCB" />
				<img src="/img/left/c_visa.gif" width="50" height="50" alt="VISA" />
				<img src="/img/left/c_mc.gif" width="50" height="50" alt="マスターカード" />
				<img src="/img/left/c_dync.gif" width="50" height="50" alt="ダイナース" />
				<img src="/img/left/c_ae.gif" width="50" height="50" alt="アメリカンエクスプレス" />
				<img src="/img/left/c_uc.gif" width="50" height="50" alt="UC" />
				<img src="/img/left/c_saison.gif" width="50" height="50" alt="セゾン" />
				<img src="/img/left/c_dc.gif" width="50" height="50" alt="DC" />
				<img src="/img/left/c_aeon.gif" width="50" height="50" alt="イオン" />
				<img src="/img/left/c_nicos.gif" width="50" height="50" alt="ニコス" />
				<img src="/img/left/c_ufj.gif" width="50" height="50" alt="UFJ" />
			</p>
		</div>
		card_text
	</div> -->
		<!--card-->

		<!-- ショップ案内 -->
		<div id="shop-presentation" class="box-outline">
			<h4 class="box-title">ショップ案内</h4>
			<dl class="side-block-content">
				<dt>販売会社:</dt>
				<dd>株式会社ゼロアワー</dd>
				<dt>所在地:</dt>
				<dd>〒779-3714<br>徳島県美馬市脇町字曽江名581番地</dd>
				<dt>店舗名:</dt>
				<dd>ネイバーズスポーツ</dd>
				<dt>営業時間:</dt>
				<dd>10:00-19:00<br>定休日:毎週水曜日</dd>
				<dt>店舗所在地:</dt>
				<dd>〒771-1262<br>徳島県板野郡藍住町笠木字中野72-1</dd>
				<dt>運営統括責任者:</dt>
				<dd>株式会社ゼロアワー<br>代表取締役 出原健二</dd>
				<dt>電話&FAX番号:</dt>
				<dd>電話:088-677-3170<br>FAX:088-692-7031</dd>
				<dt>メールアドレス:</dt>
				<dd>query@futboljersey.com</dd>
			</dl>
		</div>


		<div id="security-side" class="box-outline">
			<h4 class="box-title">セキュリティ情報</h4>
			<div class="side-block-content">
				<p><img src="/img/right/sub/RapidSSL_SEAL-90x50.gif" alt="SSL"></p>
				<p>
					<span id="ssl">SSL</span><br />
					安心してお買い物をして頂くために、当サイトでは、個人情報などはすべて暗号化しています。
				</p>
			</div>
		</div>
		<!--security-->

		<div id="shop_link" class="box-outline">
			<h4 class="box-title">関連サイト</h4>
			<div class="side-block-content">
				<p>当店の商品は以下のサイトでもご購入いただけます。</p>
				<ul>
					<li><a href="https://store.shopping.yahoo.co.jp/nbs/" target="_blank"
							title="ネイバーズスポーツYAHOO！ショッピング店">ネイバーズスポーツ<br>YAHOO Shopping店</a></li>
					<li><a href="https://www.rakuten.co.jp/nbs-soccer/" target="_blank"
							title="ネイバーズスポーツ楽天市場店">ネイバーズスポーツ<br>楽天市場店</a></li>
				</ul>
			</div>
		</div>
		<!--shop_link-->
		<!--surala_link-->
	</nav>
</div>
<!--left-->