<h2 class="title-nbs">ネイバーズスポーツ アフィリエイト</h2>
<div class="aff-content">
	<section class="box-outline">
		<h3 class="box-title">今現在のアフィリエイトポイント</h3>
		<div class="box-content">
			<p>確定ポイント：<span class="important"><!--AFPOINT-->pt</span></p>
			<p>予定ポイント：<!--INDENTPOINT-->pt</p>
			<form action="<!--PHP_SELF-->" method="POST">
				<input type="hidden" name="mode" value="p_check">
				<input type="hidden" name="action" value="year">
				詳細をチェックしたい人は<span class="bold">「詳細閲覧」</span>ボタンを押して下さい。<br />
				<input type="submit" class="submit" value="詳細閲覧">
			</form>
		</div>
	</section>
	<section class="box-outline">
		<h3 class="box-title">ポイント変換請求</h3>
		<div class="box-content">
			<!--CONVERT-->
			<p>確定ポイントが<span class="important"><!--AFPOINT-->pt</span> あります。</p>
			<form action="<!--PHP_SELF-->" method="POST">
				<input type="hidden" name="mode" value="p_apply">
				<input type="hidden" name="action" value="apply">
				変換する場合は、<span class="bold">「変換する」</span>ボタンを押し申請手続きをお願い致します。<br />
				<input type="submit" class="submit" value="変換する">
			</form>
			<!--/CONVERT-->
			<!--NOTCONVERT-->
			<p>確定ポイント<span class="important"><!--CHANGEPOINT-->pt</span>に達していないため変換出来ません。</p>
			<!--/NOTCONVERT-->
			<form action="<!--PHP_SELF-->" method="POST" class="aff-increase-space">
				<input type="hidden" name="mode" value="p_update">
				変換申請の変更や、変換状況・履歴をみたい場合は、<span class="bold">「変更・履歴」</span>ボタンを押してください。<br />
				<input type="submit" class="submit" value="変更・履歴">
			</form>
		</div>
	</section>
	<section class="box-outline">
		<h3 class="box-title">アフィリエイト設定方法</h3>
		<div class="box-content">
			<p>アフィリエイトページリンク作成可能なページの下方には、以下の画像の様にリンクが表示されます。</p>
			<div>
				<img src="/affiliate/image/make_link.gif" >
			</div>
			<p>作成するのリンクを押し、表示されたページに従ってリンクデーターをご利用下さい。
				画像リンク・テキストリンク・メールリンクと種類がございますのでご利用状況にあわせて選択しご利用下さい。
				各、リンクの説明の以下の画像の部分に当たる部分をコピー＆ペーストしご利用下さい。
			</p>
			<div>
				<img src="/affiliate/image/copy.gif">
			</div>
			<p>※リンクのURLや画像のURLは変更しないようお願い致します。<br />
				ログインされております会員によって表示されるアドレスの一部が違いますので必ずご自身のアカウントでログインし作成して下さい。<br />
				(リンクURLの中の/i_xxxx/の部分のxxxxがあなたのIDであることをご確認して下さい。)<br />
			</p>
		</div>
	</section>
</div>
<p class="kiyaku"><a href="<!--PHP_SELF-->?mode=kiyaku">アフィリエイト規約</a>

