<h2 class="title-nbs title-items-list">ネイバーズスポーツ アフィリエイト</h2>
<section class="box-outline">
	<h3 class="box-title">ネイバーズスポーツアフィリエイトとは？</h3>
	<div class="box-content">
		ネイバーズスポーツ（当サイト：<span class="important">https://www.futboljersey.com/</span>)で販売している商品を選びあなたのサイトやメルマガなどで紹介して下さい。
		あなたの紹介から商品が購入されますと、商品代金の<!--PERCENT-->%のアフィリエイトポイントを差し上げます。アフィリエイトポイントは、割引ポイントや、口座にお振り込みさせて頂きます。
	</div>
</section>

<section class="box-outline">
	<h3 class="box-title">アフィリエイトに参加するには？</h3>
	<div class="box-content">
		まずは、ネイバーズスポーツの会員登録をして下さい。
		詳しくはこちら又は、以下にある「会員登録する」ボタンを押しご確認・登録お願いします。
		登録後、ログインして頂きアフィリエイトのページをご覧頂くとアフィリエイト会員登録が出来ますのでご登録して下さい。
	</div>
</section>

<div class="button_gui">
	<form action="/member/" method="POST" class="edit-button">
    	<input type="submit" class="submit" value="会員登録する">
	</form>
</div>
<br />
<p class="kiyaku"><a href="<!--PHP_SELF-->?mode=kiyaku">アフィリエイト規約</a>
