<h2 class="title-nbs title-items-list">ポイント詳細<!--SORT-->ポイント獲得履歴</h2>

<!--PTRANSITIONS-->
<table class="aff_table">
	<tr>
<td class="ptransitions">
		<!--FIRST-->
</td>
		<td class="ptransitions">
			ポイント獲得履歴　<!--YEAR--><!--DATE-->
		</td>
<td class="ptransitions">
		<!--NEXT-->
</td>
	</tr>
</table>
<!--/PTRANSITIONS-->
<table class="aff_table list-table">
	<form action="<!--PHP_SELF-->" method="POST">
		<!--YEARHIDDEN-->
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="mon">
		<!--/YEARHIDDEN-->
		<!--MONHIDDEN-->
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="day">
		<input type="hidden" name="year" value="<!--YEAR-->">
		<!--/MONHIDDEN-->
		<tr class="list-table-pc">
			<th class="af_align"><!--THDATE--></th>
			<th>クリック数</th>
			<th>売上件数</th>
			<th>予定ポイント</th>
			<th>確定ポイント</th>
			<th>変換ポイント</th>
		</tr>
		<!--POINTLIST-->
		<tr class="responsive-design">
			<th>合計</th>
			<th data-label="クリック数"><!--ACLICK-->件</th>
			<th data-label="売上件数"><!--ACOUNT-->件</th>
			<th data-label="予定ポイント"><!--AINDENTPOINT-->pt</th>
			<th data-label="確定ポイント"><!--APOINT-->pt</th>
			<th data-label="変換ポイント"><!--APAYPOINT-->pt</th>
		</tr>
	</form>
	<tr>
		<td colspan="6" class="border_none"><span class="red">※表示されている確定ポイントは、今現在残っている確定ポイントではありません。</span></td>
	</tr>
</table>
<!--PBACK-->
<!--YBACK-->
<div class="edit-button">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="mon">
		<input type="hidden" name="year" value="<!--YEAR-->">
		<input type="submit" class="submit" value="<!--YEAR-->年の月一覧に戻る">
	</form>
</div>
<!--/YBACK-->
<div class="edit-button">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="mode" value="p_check">
		<input type="hidden" name="action" value="year">
		<input type="submit" class="submit" value="年一覧に戻る">
	</form>
</div>
<!--/PBACK-->
<div class="edit-button">
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="submit" class="submit" value="アフィリエイトTOPに戻る">
	</form>
</div>