<h2 class="title-nbs title-items-list">ネイバーズスポーツ アフィリエイトポイント変換申請</h2>

<!--ERRORS-->
<!--MODIFY-->
<section class="aff_table point-conversion-table">
<form action="<!--PHP_SELF-->" method="POST">
	<div class="increase-space">
		<input type="hidden" name="mode" value="<!--MODE-->">
		<input type="hidden" name="action" value="p_update_change">
		内容を修正する場合は「修正する」ボタンを押してください<input type="submit" class="submit" value="修正する">
	</div>
</form>
<!--/MODIFY-->
<form action="<!--PHP_SELF-->" method="POST">
	<input type="hidden" name="mode" value="<!--MODE-->">
	<input type="hidden" name="action" value="<!--ACTION-->">
	<div class="box-grid box-outline">
		<div class="box-row">
			<p class="category-name">変換ポイント<br />
			（可能ポイント：<!--POINT-->pt）</p>
			<div class="input-section">
				<!--INPUTPOINT-->pt
			</div>
		</div>

		<div class="box-row">
			<p class="category-name">変換種類</p>
			<div class="input-section">
				<!--CHENGETYPEL-->
			</div>
		</div>
	</div>
</section>

<!--CHANGETYPE2-->
<section class="box-outline" id="msg1">
	<div class="point-conversion-table2">
		<h4 class="category-name2">お振り込み口座</h4>
		<div class="box-column">
			<div class="box-row">
				<div class="category-name">
					金融機関名
				</div>
				<div class="input-section">
					<!--BANKNAME-->
				</div>
			</div>
			<div class="box-row">
				<div class="category-name">
					支店名
				</div>
				<div class="input-section">
					<!--STORENAME-->
				</div>
			</div>
			<div class="box-row">
				<div class="category-name">
					振込先科目
				</div>
				<div class="input-section">
					<!--DEPOSIT-->
				</div>
			</div>
			<div class="box-row">
				<div class="category-name">
					振込先口座番号
				</div>
				<div class="input-section">
					<!--ACCONUTNUM-->
				</div>
			</div>
			<div class="box-row">
				<div class="category-name">
					受取人名
				</div>
				<div class="input-section">
					<!--ACCOUNTNAME-->
				</div>
			</div>
		</div>
	</div>
</section>
<span class="red">※お振り込み金額は、お振り込み手数料を引いた金額とさせて頂きます。</span>
<!--/CHANGETYPE2-->
<div class="increase-space">
	<p>以上の内容でよろしければ<span class="important">「<!--STYPE-->」</span>ボタンを押して下さい。</p>
	<input type="submit" class="submit space-edit" value="<!--STYPE-->">
</div>
</form>
<!--NOTCANCEL-->
<form action="<!--PHP_SELF-->" method="POST">
	<input type="hidden" name="mode" value="p_update">
	<input type="hidden" name="action" value="p_update_change">
	<div>
		<p>キャンセルを取り消す場合は<span class="important">「キャンセル取り消し」</span>ボタンを押してください。</p>
		<input type="submit" class="submit space-edit" value="キャンセル取り消し">
	</div>
</form>
<!--/NOTCANCEL-->
<form action="<!--PHP_SELF-->" method="POST" class="edit-button">
	<input type="submit" class="submit" value="アフィリエイトTOPに戻る">
</form>

