<h2 class="title-nbs">チームオーダー御見積フォーム</h2>
<div class="team_order">

	<!-- 2022/12/6 レスポンシブ対応につき、コメントアウト uenishi -->
	<!-- <table class="team_order_note">
		<tr>
			<th class="team_order_title">クラブ&各国代表モデルチームオーダー</th>
		</tr>
		<tr>
			<td>
				<span class="bold">ご希望商品のサイズと枚数を、買い物かごに入れて下さい。</span>
				<ul>
					<li>買い物かごのページからこのページに来ますと、マーキング指定が出来ます。</li>
					<li>マーキング指定が終わりましたら、ご連絡先を入力して、確認ボタンを押して下さい。</li>
					<li>確認ページチェック後、送信ボタンを押して下さい。</li>
					<li>後日、御見積をメールで送付致します。</li>
					<li>もしこちらのフォームで御見積依頼が出来ない場合は、<span
							class="bold">sales@futboljersey.com</span>まで、ご希望の商品名/数量/サイズをお知らせ下さい。</li>
				</ul>
			</td>
		</tr>
	</table> -->

	<div class="team-order-note">
		<div class="sub-title-simple models">
			<span>クラブ&各国代表モデルチームオーダー</span>
		</div>
		<div class="team-order-caution">
			<span class="bold">ご希望商品のサイズと枚数を、買い物かごに入れて下さい。</span><br>
			<span>買い物かごのページからこのページに来ますと、マーキング指定が出来ます。</span><br>
			<span>マーキング指定が終わりましたら、ご連絡先を入力して、確認ボタンを押して下さい。</span><br>
			<span>確認ページチェック後、送信ボタンを押して下さい。</span><br>
			<span>後日、御見積をメールで送付致します。</span><br>
			<span>もしこちらのフォームで御見積依頼が出来ない場合は、<b class="bold">sales@futboljersey.com</b>まで、ご希望の商品名/数量/サイズをお知らせ下さい。</span>
		</div>
	</div>

	<!--NOTORDER-->
	<div class="error-area">
		<span>チームオーダーする商品を選択してきて下さい。</sapn>
	</div>
	<!--/NOTORDER-->

	<!--ORDERKAKUNIN-->
	<!--ERRORMSG-->
	<form action="<!--PHP_SELF-->" method="POST">
		<input type="hidden" name="modes" value="kaku">

		<!-- 2022/12/6 レスポンシブ対応につき、コメントアウト uenishi -->
		<!-- <table>
			<tr>
				<th colspan="2" class="team_order_title">
					ENTER御見積フォーム
					ENTER
					CHECK御見積商品確認
					CHECK
				</th>
			</tr>
			<tr>
				<th class="team_order_title">
					背番号タイプ
				</th>
				<td>
					SEBANL
					SEBANN
				</td>
			</tr>
			<tr>
				<th class="team_order_title">背ネームタイプ</th>
				<td>
					SENAMEL
					SENAMEN
				</td>
			</tr>
			<tr>
				<th class="team_order_title">胸番号タイプ</th>
				<td>
					MUNEBANL
					MUNEBANN
				</td>
			</tr>
			<tr>
				<th class="team_order_title">パンツ番号タイプ</th>
				<td>
					PANTL
					PANTN
				</td>
			</tr>
			<tr>
				<th class="team_order_title">バッジタイプ</th>
				<td>
					BACHL
					BACHN
				</td>
			</tr>
			GOODSLIST
			GOODSKAKUNIN
		</table> -->

		<div class="estimate">
			<div class="sub-title-simple estimate-title">
				<span>
					<!--ENTER-->御見積フォーム
					<!--/ENTER-->
					<!--CHECK-->御見積商品確認
					<!--/CHECK-->
				</span>
			</div>
			<div class="team-order-title">
				<span class="first-item">
					背番号タイプ
				</span>
				<span>
					<!--SEBANL-->
					<!--SEBANN-->
				</span>
			</div>
			<div class="team-order-title">
				<span class="first-item">背ネームタイプ</span>
				<span>
					<!--SENAMEL-->
					<!--SENAMEN-->
				</span>
			</div>
			<div class="team-order-title">
				<span class="first-item">胸番号タイプ</span>
				<span>
					<!--MUNEBANL-->
					<!--MUNEBANN-->
				</span>
			</div>
			<div class="team-order-title">
				<span class="first-item">パンツ番号タイプ</span>
				<span>
					<!--PANTL-->
					<!--PANTN-->
				</span>
			</div>
			<div class="team-order-title">
				<span class="first-item">バッジタイプ</span>
				<span>
					<!--BACHL-->
					<!--BACHN-->
				</span>
			</div>
		</div>

		<div>
			<div class="purchase-goods-list">
				<!--GOODSLIST-->
				<!--GOODSKAKUNIN-->
			</div>
		</div>



		<h4 class="sub-title-simple estimate-title">御連絡先</h4>
		<div class="contact-information-form">
			<div class="contact-information-innerBlock">
				<!--パンツ＆ソックスセット-->
				<!--PANTSET-->
				<!--SOCKSSET-->
				<!--PANTSETN-->
				<!--SOCKSSETN-->
				<!--パンツ＆ソックスセットここまで-->
				<h4 class="sub-title-simple">漢字氏名：（例　山田　太郎）<span class="important">（必記）</span></h4>
				<div class="enter-the-name">
					<!--NAMEDEL-->
					<div>
						<label>姓：</label>
						<input type="text" name="name_s" value="<!--NAMES-->" placeholder="山田" />
					</div>
					<div>
						<label>名：</label>
						<input type="text" name="name_n" value="<!--NAMEN-->" placeholder="太郎" />
					</div>
					<!--/NAMEDEL-->
					<div>
						<!--NAMESN-->&nbsp;
						<!--NAMENN-->
					</div>
				</div>
				<h4 class="sub-title-simple">ふりがな：（例　やまだ　たろう）<span class="important">（必記）</span></h4>
				<div class="enter-the-name">
					<!--KANADEL-->
					<div>
						<label>姓：</label>
						<input type="text" name="kana_s" value="<!--KANAS-->" placeholder="やまだ" />
					</div>
					<div>
						<label>名：</label>
						<input type="text" name="kana_n" value="<!--KANAN-->" placeholder="たろう" />
					</div>
					<!--/KANADEL-->
					<div>
						<!--KANASN-->&nbsp;
						<!--KANANN-->
					</div>
				</div>
				<h4 class="sub-title-simple">住所<span class="important">（必記）</span></h4>
				<div class="address-info">
					<div>
						<span><b class="bold">●郵便番号</b>：（例 999-9999）</span>
						<div>
							<!--ZIPDEL-->
							〒<input type="text" class="first-post-code" maxlength="3" name="zip1" value="<!--ZIP1-->"
								placeholder="999" />－<input type="text" class="second-post-code" maxlength="4"
								name="zip2" value="<!--ZIP2-->" placeholder="9999" />
							<!--/ZIPDEL-->
							<!--ZIPN-->
						</div>
					</div>
					<div>
						<span class="bold">●都道府県</span>
						<!--PRF-->
						<!--PRFN-->
					</div>
					<div>
						<span><b class="bold">●市区町村名：</b>（例　千代田区）</span>
						<!--CITYDEL-->
						<input type="text" class="input-address" name="city" value="<!--CITY-->" placeholder="千代田区" />
						<!--/CITYDEL-->
						<!--CITYN-->
					</div>
					<div>
						<span>●<b class="bold">所番地</b>：（例　永田町９－９－９）</span>
						<!--ADD1DEL-->
						<input type="text" class="input-address" name="add1" value="<!--ADD1-->"
							placeholder="永田町９－９－９" />
						<!--/ADD1DEL-->
						<!--ADD1N-->
					</div>
					<div>
						<span>●<b class="bold">マンション名など</b>：（例　ネイバーズマンション　１０１号室）</span>

						<!--ADD2DEL-->
						<input type="text" class="input-address" name="add2" value="<!--ADD2-->"
							placeholder="ネイバーズマンション　１０１号室" />
						<!--/ADD2DEL-->
						<!--ADD2N-->
					</div>
				</div>
				<h4 class="sub-title-simple">電話番号：（例　012-345-6789）<b class="important">（必記）</b></h4>
				<div class="phone-number">
					<!--TELDEL--><input type="text" name="tel1" value="<!--TEL1-->" placeholder="012" />－<input
						type="text" name="tel2" value="<!--TEL2-->" placeholder="345" />－<input type="text" name="tel3"
						value="<!--TEL3-->" placeholder="6789" />
					<!--/TELDEL-->
					<!--TELN-->
				</div>
				<h4 class="sub-title-simple">FAX番号：（例　012-345-6789）</h4>
				<div class="phone-number">
					<!--FAXDEL--><input type="text" name="fax1" value="<!--FAX1-->" placeholder="012" />－<input
						type="text" name="fax2" value="<!--FAX2-->" placeholder="345" />－<input type="text" name="fax3"
						value="<!--FAX3-->" placeholder="6789" />
					<!--/FAXDEL-->
					<!--FAXN-->
				</div>
				<h4 class="sub-title-simple">メールアドレス：（例　query@futboljersey.com）<b class="important">（必記）</b></h4>
				<div class="contact-content">
					<!--EMAILDEL--><input type="text" class="input-address" name="email" value="<!--EMAIL-->"
						placeholder="query@futboljersey.com" />
					<!--/EMAILDEL-->
					<!--EMAILN-->
				</div>
				<h4 class="sub-title-simple">ご意見・ご要望など</h4>
				<div class="contact-content">
					<!--MSRDEL--><textarea name="msr" rows="10" cols="60" class="opinions"><!--MSR--></textarea>
					<!--/MSRDEL-->
					<!--MSRN-->
				</div>
			</div>
		</div>

		<!-- 2022/12/7 レスポンシブ対応につき、コメントアウト uenishi -->
		<!-- <table>
			パンツ＆ソックスセット
			PANTSET
			SOCKSSET
			PANTSETN
			SOCKSSETN
			パンツ＆ソックスセットここまで
			<tr>
				<th class="team_order_title">御連絡先</th>
			</tr>
			<tr>
				<th>漢字氏名：（例　山田　太郎）<span class="red">（必記）</span></th>
			</tr>
			<tr>
				<td>
					NAMEDEL
					姓：<input type="text" name="name_s" value="!--NAMES--" /> 名：<input type="text" name="name_n"
						value="!--NAMEN--" />
					/NAMEDEL
					NAMESN&nbsp;
					NAMENN
				</td>
			</tr>
			<tr>
				<th>ふりがな</span>：（例　やまだ　たろう）<span class="red">（必記）</span></th>
			</tr>
			<tr>
				<td>
					KANADEL
					姓：<input type="text" name="kana_s" value="!--KANAS--" /> 名：<input type="text" name="kana_n"
						value="!--KANAN--" />
					/KANADEL
					KANASN&nbsp;
					KANANN
				</td>
			</tr>
			<tr>
				<th>住所</span><span class="red">（必記）</span></th>
			</tr>
			<tr>
				<td>
					●<span class="bold">郵便番号</span>：（例 999-9999）
				</td>
			</tr>
			<tr>
				<td>
					ZIPDEL
					〒<input type="text" maxlength="3" size="6" name="zip1" value="!--ZIP1--" />－<input type="text"
						maxlength="4" size="8" name="zip2" value="!--ZIP2--" />
					/ZIPDEL
					ZIPN
				</td>
			</tr>
			<tr>
				<td>●<span class="bold">都道府県</span></td>
			</tr>
			<tr>
				<td>
					PRF
					PRFN
				</td>
			</tr>
			<tr>
				<td>●<span class="bold">市区町村名</span>：（例　千代田区）</td>
			</tr>
			<tr>
				<td>
					CITYDEL
					<input type="text" size="40" name="city" value="!--CITY--" />
					/CITYDEL
					CITYN
				</td>
			</tr>
			<tr>
				<td>
					●<span class="bold">所番地</span>：（例　永田町９－９－９）
				</td>
			</tr>
			<tr>
				<td>
					ADD1DEL
					<input type="text" size="40" name="add1" value="!--ADD1--" />
					/ADD1DEL
					ADD1N
				</td>
			</tr>
			<tr>
				<td>
					●<span class="bold">マンション名など</span>：（例　ネイバーズマンション　１０１号室）
				</td>
			</tr>
			<tr>
				<td>
					ADD2DEL
					<input type="text" size="40" name="add2" value="!--ADD2--" />
					/ADD2DEL
					ADD2N
				</td>
			</tr>
			<tr>
				<th>
					電話番号：（例　012-345-6789）<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					TELDEL<input type="text" size="8" name="tel1" value="!--TEL1--" />－<input type="text"
						size="8" name="tel2" value="!--TEL2--" />－<input type="text" size="8" name="tel3"
						value="!--TEL3--" />
					/TELDEL
					TELN
				</td>
			</tr>
			<tr>
				<th>FAX番号：（例　012-345-6789）</th>
			</tr>
			<tr>
				<td>
					FAXDEL<input type="text" size="8" name="fax1" value="!--FAX1--" />－<input type="text"
						size="8" name="fax2" value="!--FAX2--" />－<input type="text" size="8" name="fax3"
						value="!--FAX3--" />
					/FAXDEL
					FAXN
				</td>
			</tr>
			<tr>
				<th>
					メールアドレス：（例　query@futboljersey.com）<span class="red">（必記）</span>
				</th>
			</tr>
			<tr>
				<td>
					EMAILDEL<input type="text" size="40" name="email" value="!--EMAIL--" />
					/EMAILDEL
					EMAILN
				</td>
			</tr>
			<tr>
				<th>
					ご意見ご要望など
				</th>
			</tr>
			<tr>
				<td>
					MSRDEL<textarea name="msr" rows="10" cols="60">MSR</textarea>
					/MSRDEL
					MSRN
				</td>
			</tr>
		</table> -->

		<!--KAKUNIN-->
		<div class="confirmation-button">
			<input type="submit" value="確認画面へ" class="submit" />
	</form>

	<form action="<!--PHP_SELF-->" method="post">
		<input type="submit" value="やり直す" class="submit" />
	</form>
</div>
<!--/KAKUNIN-->

<!--OMITUMORI-->
<!-- <table class="text_design">
	<tr>
		<td>
			上記でよろしい場合は下記の御見積ボタンを押して下さい。<br />
			もし修正する場合は、修正ボタンを押して下さい。
		</td>
	</tr>
    </table> -->
<div class="decision">
	<span>上記でよろしい場合は下記の御見積ボタンを押して下さい。</span>
	<span>もし修正する場合は、修正ボタンを押して下さい。<span>
</div>
<div class="confirmation-button">
	<form action="<!--PHP_SELF-->" method="post">
		<input type="hidden" name="modes" value="send" />
		<input type="button" class="submit" value="お見積り" OnClick="submit_disabled(this);" />
	</form>
	<form action="<!--PHP_SELF-->" method="post">
		<input type="hidden" name="modes" value="back" />
		<input type="submit" class="submit" value="修正" />
	</form>
</div>
<!--/OMITUMORI-->
<!--/ORDERKAKUNIN-->
</div>
<!--.team_order-->