<!--#include virtual="/include_file.php?inc=logincheck"-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>お見積りメール送信完了 サッカースパイク サッカーユニフォーム サッカーショップ ネイバーズスポーツ</title>
<meta name="Description" content="メーカーリンク,セリエA,プレミアリーグ,スペインリーグ,各国代表等のチームユニフォームを販売。">
<meta name="KeyWords" content="メーカーリンク,サッカー,サッカーショップ,サッカーユニフォーム,サッカーシューズ,サッカースパイク,ナイキ,アンブロ,アディダス,プーマ,パトリック,トッパー,ネイバーズスポーツ">
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rev="made" href="mailto:query@futboljersey.com">
</head>
<body>
<div id="container">
<!--#include virtual="/include_file.php?inc=head"-->
<!--#include virtual="/include_file.php?inc=navi"-->


	<div id="right">

	<section class="box-outline">
		<h4 class="box-title">登録完了致しました。</h4>
		<div class="box-content">
			<p>登録確認のメールを送信致しましたのでご確認下さい。</p>
			<p>確認のメールが届かない場合はお手数ですがお問合せからご連絡お願い致します。</p>
		</div>
	</section>

<!--#include virtual="/include_file.php?inc=ossm"-->

	</div><!--right-->

<!--#include virtual="/include_file.php?inc=foot"-->

</div><!--container-->
</body>
</html>
