<!--#include virtual="/include_file.php?inc=logincheck"-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>パスワード忘れ サッカースパイク サッカーユニフォーム サッカーショップ ネイバーズスポーツ</title>
<meta name="Description" content="メーカーリンク,セリエA,プレミアリーグ,スペインリーグ,各国代表等のチームユニフォームを販売。">
<meta name="KeyWords" content="メーカーリンク,サッカー,サッカーショップ,サッカーユニフォーム,サッカーシューズ,サッカースパイク,ナイキ,アンブロ,アディダス,プーマ,パトリック,トッパー,ネイバーズスポーツ">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rev="made" href="mailto:query@futboljersey.com">
<script src="/js/jquery3.6.1.min.js"></script>
<script src="/js/responsive.js"></script>
</head>
<body>
<!--#include virtual="/include_file.php?inc=head"-->
<div id="container">
<!--#include virtual="/include_file.php?inc=navi"-->


	<div id="right">

<div id="inner">
<section class="box-outline">
	<h3 class="box-title center">メール送信完了</h3>
	<div class="box-content">
		会員パスワードメール送信完了しました。<br /><br />
		登録のメールアドレスに、パスワードを書いたメールをお送りさせていただきましたのでご確認下さい。
	</div> 
</section>

</div><!--inner-->

<!--#include virtual="/include_file.php?inc=ossm"-->

	</div><!--right-->

<!--#include virtual="/include_file.php?inc=foot"-->

</div><!--container-->
</body>
</html>
