.img-responsive {
	max-width: 100%;
	height: auto;
}

/* 共有スタイル >>> */
@media (max-width: 550px) {
	.box-row {
		flex-direction: column;
	}
	.box-form .box-row {
		gap: 0;
	}
}
/* <<< */

/* モバイル版 ヘッダーメニュー */
body.mobile {
	padding-top: 41px;
}

body.mobile-menu-opened {
	overflow: hidden;
}

#navigation-mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 8px #000000aa;
	background-color: var(--primary);
	z-index: 209;
	padding-left: 5px;
	height: 41px;
}

#mobile-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 210;
	background: #000000aa;
	display: none;
}

body.mobile-menu-opened #mobile-menu-overlay {
	display: block;
}

#navigation-mobile #navbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 200px;
	overflow-y: auto;
	width: 180px;
	padding: 10px;
	background: white;
	box-shadow: 2px 2px 5px black;
	z-index: 211;
}

body.mobile-menu-opened #navigation-mobile #navbox {
	display: block;
}

#navigation-header {
	background-color: var(--primary);
	border-bottom: 2px solid #00006a;
}



@media (max-width: 1130px) {

	/* サイドバーを消す */
	.vertical-banner {
		display: none;
	}
}

@media (min-width: 951px) {
	.mobile-only {
		display: none;
	}
}

@media (max-width: 950px) {

	/* 左ナビメニュー */
	#navigation-mobile {
		display: flex;
		align-items: center;
	}

	/* ハンバーガーメニュー */
	#hamburger-menu {
		width: 30px;
		height: 30px;
		position: relative;
		margin: 20px 10px;
		cursor: pointer;
	}

	#hamburger-menu span {
		display: block;
		position: absolute;
		margin-top: 2px;
		height: 4px;
		width: 100%;
		background: white;
		border-radius: 6px;
		opacity: 1;
		left: 0;
	}

	#hamburger-menu span:nth-child(1) {
		top: 0px;
	}

	#hamburger-menu span:nth-child(2) {
		top: 10px;
	}

	#hamburger-menu span:nth-child(3) {
		top: 20px;
	}


	.title-nbs::before {
		display: none;
	}

	.pc-only {
		display: none;
	}

	#login-menu-pc {
		justify-content: center;
	}

	/* 左メニュー */
	#left {
		display: none;
	}

	/* サイドメニューバー */
	#pc-col-left {
		display: none;
	}

	#right,
	#main {
		float: none;
		width: auto;
	}

	#container {
		padding-right: 5px;
		padding-left: 5px;
	}

	.each-goods-background {
		flex-basis: calc((100% / 3) - (10px / 3));
	}

	.sleep-image {
		width: calc((100% / 4) - (83px / 4));
	}

	/* フッター広告バナー消去 */
	#footer_banner_area {
		display: none;
	}

	#top-page #TopArrowScrollBtn {
		bottom: 30px;
	}
}

@media (max-width: 950px) {

	/* ヘッダーメニュー */
	#menu a {
		flex: 0 1 calc((100% / 3) - (25px / 3 + 15px));
	}
}

@media (max-width: 700px) {

	/* 新入荷情報 */
	#newitem_years li {
		min-width: 65px;
	}

	/* フッターメニューを縦カラムに変更 */
	.footer-grid {
		flex-direction: column;
	}

	.sleep-image {
		width: calc((100% / 2) - (41px / 2));
	}

	/*ネイバーズスポーツ アフィリエイトポイント変換申請*/
	#msg1 .red {
		display: block;
	}

	/* リンクリスト */
	.link-table li {
		width: calc((100% / 3) - 10px);
	}

	/* チームオーダー */
	.team-order-title .first-item {
		flex-basis: 20%;
		padding: 10px;
	}

	.team-order-title>span {
		flex-basis: 80%;
	}

	.names-on-back {
		flex-direction: column;
		align-items: stretch;
	}

	.uniform-name {
		width: 60%;
	}

	/* 店舗情報 */
	.map-sp02 {
		display: block;
	}
	.map-sp02 div{
		width: 100%;
	}
    /* 商品購入方法 */
	#shipping-box {
		display: block;
	}
	#shipping-box div {
		width: 100%;
		text-align: left;
	}
}

@media(max-width: 650px) {

	/* 買い物かごページ 合計金額欄 */
	.postage,
	.total {
		grid-template-columns: 45% 1fr;
	}

}

@media(min-width: 551px) {
	/* PC の場合は */
	.item-list {
		box-shadow: var(--shadow-setting);
	}
}

@media(max-width: 550px) {
	/* 商品一覧 */
	.item-list {
		background: transparent;
	}

	.item-entry {
		padding: 1px;
		background-color: #000099;
		flex-direction: column;
		margin-bottom: 5px;
		box-shadow: var(--shadow-setting);
	}

	.item-entry-buy {
		flex: 0 0 100%;
		flex-direction: row;
	}

	.item-entry-price {
		margin: auto;
	}

	.item-entry-price s {
		display: inline-block;
	}

	.each-goods-background {
		flex-basis: calc((100% / 2) - (5px /2));
	}

	/* アフィリエイト・ポイント */
	.list-table .list-table-pc {
		display: none;

	}

	.list-table tr {
		box-shadow: var(--shadow-setting);
		border: none;
		display: block;
		margin: 1em 0;
	}

	.list-table tr td:not(:last-child) {
		border-bottom: none;
	}

	.list-table tr > td:not(.border_none,.edit-table-text > td),
	.aff_table .responsive-design th {
		display: block;
		text-align: right;
		padding: 0.4em 1em;
	}

	.list-table tr > td[data-label]:before,
	.list-table .responsive-design > th[data-label]:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		min-width: 70px;
		display: flex;
		align-items: center;
	}

	.aff_table .responsive-design th {
		border: 1px solid #ffff;
		margin-bottom: 0px;
	}

	/* お買い物履歴 詳細 */
	#rireki .edit-table-text > td ,
	.kakunin .edit-table-text > td {
		display: flex;
		gap: 20px;
		padding: 0.4em 1em;
		text-align: left;
		word-break: inherit;
	}
    
	#rireki .detail-text {
		line-height: 20px;
	} 

	.list-title {
		width: 100%;
	}
    
	/*ネイバーズスポーツ アフィリエイトポイント変換申請*/
	.point-conversion-table tr td,
	#msg1 tr td {
		display: block;
		width: calc(100% - 30px);
		border: none;
	}

	#msg1 tr td {
		padding: 0.5em auto;
	}

	#msg1 tr:not(:last-child),
	.point-conversion-table tr {
		border: 1px solid;
	}

	#msg1 tr .af_subtitle {
		padding-bottom: 0;
	}

	/* リンクリスト */
	.link-table li {
		width: calc((100% / 2) - 10px);
		height: 90px;
	}
	/* ロクイン */
	#login {
		width: 100%;
	}
	
	#login input[type="text"],
	#login input[type="password"] {
       width: 80%;
	   margin: 0 auto;
	}


}

@media(max-width: 500px) {

	/* エラーメッセージ */
	.error-area {
		padding-left: 10px;
		padding-right: 5px;
	}

	/* ヘッダーメニュー */
	#menu a {
		flex: 0 1 calc((100% / 2) - (25px / 2 + 10px));
	}


	.member_table input[type="text"] {
		width: 62%;
	}

	.login-table th,
	.login-table td {
		display: block;
		text-align: center;
		border: none;
		padding: 10px 0;
	}

	.login-table input[type="text"],
	.login-table input[type="password"] {
		width: 80%;
	}

	/* マーキングページ フォーム入力欄 */
	.order-form-title {
		margin-bottom: 20px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	}

	.order-form {
		box-shadow: var(--shadow-setting);
	}

	.marking-container {
		background-color: var(--accent);
	}


	.marking-form {
		flex-direction: column;
		gap: 1px;
	}

	/* 商品購入方法 */
	.how_to_buy .highlight-text {
		width: calc(100% - 20px);
	}

	.marking-title-section {
		box-shadow: var(--shadow-setting);
		padding: 1px;
		background-color: var(--accent);
	}

	.marking-title {
		flex-wrap: wrap;
		gap: 1px;
	}

	.marking-title .item-name {
		flex-basis: 100%;
		background-color: #f2ffff;
	}

	.goods-detail {
		flex-wrap: wrap;
		gap: 1px;
	}

	.goods-detail .item-name {
		flex-basis: 100%;
	}

	.marking-details {
		flex-wrap: wrap;
		gap: 1px;
	}

	/* ショップ案内 */
	
	.marking-details .item-name {
		flex-basis: 100%;
	}

	.postage-detail>span {
		flex: 1 1 53.5%;
	}

	.cago-purchase-section {
		align-items: normal;
	}

	.order-button {
		padding: 10px;
	}

	.landline-mobile {
		flex-direction: column;
		align-items: normal;
	}

	.landline-mobile input {
		max-width: 3rem;
	}

	/* チームオーダー */
	.phone-number input {
		max-width: 4rem;
	}

	.names-on-back {
		/* align-items: flex-end; */
		width: 100%;
	}

	.enter-the-name {
		flex-direction: column;
		align-items: normal;
		gap: 10px;
	}
}

@media (max-width: 375px) {

	/* マーキング購入フォーム */
	.submit-section {
		flex-direction: column;
		gap: 15px;
	}


	#category-goods-list {
		flex-direction: column;
	}

	.each-goods-background {
		flex: 1 1 100%;
	}
}